<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.tw.saas.serv.mapper.rule.RuleAlarmMapper" >
  <resultMap id="BaseResultMap" type="cn.com.tw.saas.serv.entity.db.rule.RuleAlarm" >
    <id column="alarm_id" property="alarmId" jdbcType="VARCHAR" />
    <result column="app_id" property="appId" jdbcType="VARCHAR" />
    <result column="org_id" property="orgId" jdbcType="VARCHAR" />
    <result column="rule_name" property="ruleName" jdbcType="VARCHAR" />
    <result column="equip_type" property="equipType" jdbcType="VARCHAR" />
    <result column="alarm1_value" property="alarm1Value" jdbcType="DECIMAL" />
    <result column="alarm1_type" property="alarm1Type" jdbcType="VARCHAR" />
    <result column="alarm2_value" property="alarm2Value" jdbcType="DECIMAL" />
    <result column="alarm2_type" property="alarm2Type" jdbcType="VARCHAR" />
    <result column="limit_value" property="limitValue" jdbcType="DECIMAL" />
    <result column="is_blackout" property="isBlackout" jdbcType="TINYINT" />
    <result column="is_delete" property="isDelete" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="is_default" property="isDefault" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    alarm_id, app_id, org_id, rule_name, equip_type, alarm1_value, alarm1_type, alarm2_value, 
    alarm2_type, limit_value, is_blackout, is_delete, create_time, update_time,is_default
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_saas_rule_alarm
    where alarm_id = #{alarmId,jdbcType=VARCHAR}
  </select>
  
  <select id="selectIsDefaultRule" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_saas_rule_alarm
    where org_id = #{0} and is_default = 1 and equip_type = #{1}
  </select>
  
  <select id="selectByRuleName" resultMap="BaseResultMap" parameterType="java.lang.String">
  	SELECT
		 <include refid="Base_Column_List" />
	FROM
		t_saas_rule_alarm
	WHERE
		rule_name =  #{ruleName,jdbcType=VARCHAR}
  </select>
  
  
  <select id="selectAlarmAll" resultMap="BaseResultMap" parameterType="cn.com.tw.saas.serv.entity.db.rule.RuleAlarm" >
        select 
        <include refid="Base_Column_List" />
        from t_saas_rule_alarm
        <where>
            <!-- is_usable = 1 -->
			<if test="alarmId != null and alarmId != ''">
				and alarm_id = #{alarm_id,jdbcType=VARCHAR}
			</if>
			<if test="ruleName != null and ruleName != ''">
				and rule_name like CONCAT('%', #{ruleName,jdbcType=VARCHAR},'%')
			</if>
			<if test="equipType != null and equipType != ''">
				and equip_type = #{equipType,jdbcType=VARCHAR}
			</if>
			<if test="alarm1Type != null and alarm1Type != ''">
				and alarm1_type = #{alarm1Type,jdbcType=VARCHAR}
			</if>
			<if test="alarm2Type != null and alarm2Type != ''">
				and alarm2_type = #{alarm2Type,jdbcType=VARCHAR}
			</if>
			<if test="orgId != null and orgId != ''">
				and org_id = #{orgId,jdbcType=VARCHAR}
			</if>
			<if test="isDefault != null and isDefault != ''">
				and is_default = #{isDefault,jdbcType=TINYINT}
			</if>
		</where>
  </select>
  
  <select id="selectByPage" resultMap="BaseResultMap" parameterType="cn.com.tw.common.web.entity.page.Page" >
        select 
        <include refid="Base_Column_List" />
        from t_saas_rule_alarm
        <where>
			<if test="paramObj.equipType != null and paramObj.equipType != ''">
				and equip_type = #{paramObj.equipType,jdbcType=VARCHAR}
			</if>
			<if test="paramObj.ruleName != null and paramObj.ruleName != ''">
				and rule_name like CONCAT('%', #{paramObj.ruleName,jdbcType=VARCHAR},'%')
			</if>
			<if test="paramObj.alarm1Type != null and paramObj.alarm1Type != ''">
				and alarm1_type = #{paramObj.alarm1Type,jdbcType=VARCHAR}
			</if>
			<if test="paramObj.alarm2Type != null and paramObj.alarm2Type != ''">
				and alarm2_type = #{paramObj.alarm2Type,jdbcType=VARCHAR}
			</if>
			<if test="paramObj.orgId != null and paramObj.orgId != ''">
				and org_id = #{paramObj.orgId,jdbcType=VARCHAR}
			</if>
		</where>
		ORDER BY create_time DESC
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_saas_rule_alarm
    where alarm_id = #{alarmId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.com.tw.saas.serv.entity.db.rule.RuleAlarm" >
    insert into t_saas_rule_alarm (alarm_id, app_id, org_id, 
      rule_name, equip_type, alarm1_value, 
      alarm1_type, alarm2_value, alarm2_type, 
      limit_value, is_blackout, is_delete, 
      create_time, update_time, is_default)
    values (#{alarmId,jdbcType=VARCHAR}, #{appId,jdbcType=VARCHAR}, #{orgId,jdbcType=VARCHAR}, 
      #{ruleName,jdbcType=VARCHAR}, #{equipType,jdbcType=VARCHAR}, #{alarm1Value,jdbcType=DECIMAL}, 
      #{alarm1Type,jdbcType=VARCHAR}, #{alarm2Value,jdbcType=DECIMAL}, #{alarm2Type,jdbcType=VARCHAR}, 
      #{limitValue,jdbcType=DECIMAL}, #{isBlackout,jdbcType=TINYINT}, #{isDelete,jdbcType=TINYINT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{isDefault,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="cn.com.tw.saas.serv.entity.db.rule.RuleAlarm" >
    insert into t_saas_rule_alarm
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="alarmId != null" >
        alarm_id,
      </if>
      <if test="appId != null" >
        app_id,
      </if>
      <if test="orgId != null" >
        org_id,
      </if>
      <if test="ruleName != null" >
        rule_name,
      </if>
      <if test="equipType != null" >
        equip_type,
      </if>
      <if test="alarm1Value != null" >
        alarm1_value,
      </if>
      <if test="alarm1Type != null" >
        alarm1_type,
      </if>
      <if test="alarm2Value != null" >
        alarm2_value,
      </if>
      <if test="alarm2Type != null" >
        alarm2_type,
      </if>
      <if test="limitValue != null" >
        limit_value,
      </if>
      <if test="isBlackout != null" >
        is_blackout,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="isDefault != null" >
        is_default,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="alarmId != null" >
        #{alarmId,jdbcType=VARCHAR},
      </if>
      <if test="appId != null" >
        #{appId,jdbcType=VARCHAR},
      </if>
      <if test="orgId != null" >
        #{orgId,jdbcType=VARCHAR},
      </if>
      <if test="ruleName != null" >
        #{ruleName,jdbcType=VARCHAR},
      </if>
      <if test="equipType != null" >
        #{equipType,jdbcType=VARCHAR},
      </if>
      <if test="alarm1Value != null" >
        #{alarm1Value,jdbcType=DECIMAL},
      </if>
      <if test="alarm1Type != null" >
        #{alarm1Type,jdbcType=VARCHAR},
      </if>
      <if test="alarm2Value != null" >
        #{alarm2Value,jdbcType=DECIMAL},
      </if>
      <if test="alarm2Type != null" >
        #{alarm2Type,jdbcType=VARCHAR},
      </if>
      <if test="limitValue != null" >
        #{limitValue,jdbcType=DECIMAL},
      </if>
      <if test="isBlackout != null" >
        #{isBlackout,jdbcType=TINYINT},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDefault != null" >
        #{isDefault,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.tw.saas.serv.entity.db.rule.RuleAlarm" >
    update t_saas_rule_alarm
    <set >
      <if test="appId != null" >
        app_id = #{appId,jdbcType=VARCHAR},
      </if>
      <if test="orgId != null" >
        org_id = #{orgId,jdbcType=VARCHAR},
      </if>
      <if test="ruleName != null" >
        rule_name = #{ruleName,jdbcType=VARCHAR},
      </if>
      <if test="equipType != null" >
        equip_type = #{equipType,jdbcType=VARCHAR},
      </if>
      <if test="alarm1Value != null" >
        alarm1_value = #{alarm1Value,jdbcType=DECIMAL},
      </if>
      <if test="alarm1Type != null" >
        alarm1_type = #{alarm1Type,jdbcType=VARCHAR},
      </if>
      <if test="alarm2Value != null" >
        alarm2_value = #{alarm2Value,jdbcType=DECIMAL},
      </if>
      <if test="alarm2Type != null" >
        alarm2_type = #{alarm2Type,jdbcType=VARCHAR},
      </if>
      <if test="limitValue != null" >
        limit_value = #{limitValue,jdbcType=DECIMAL},
      </if>
      <if test="isBlackout != null" >
        is_blackout = #{isBlackout,jdbcType=TINYINT},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDefault != null" >
        is_default = #{isDefault,jdbcType=TINYINT},
      </if>
    </set>
    where alarm_id = #{alarmId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.tw.saas.serv.entity.db.rule.RuleAlarm" >
    update t_saas_rule_alarm
    set app_id = #{appId,jdbcType=VARCHAR},
      org_id = #{orgId,jdbcType=VARCHAR},
      rule_name = #{ruleName,jdbcType=VARCHAR},
      equip_type = #{equipType,jdbcType=VARCHAR},
      alarm1_value = #{alarm1Value,jdbcType=DECIMAL},
      alarm1_type = #{alarm1Type,jdbcType=VARCHAR},
      alarm2_value = #{alarm2Value,jdbcType=DECIMAL},
      alarm2_type = #{alarm2Type,jdbcType=VARCHAR},
      limit_value = #{limitValue,jdbcType=DECIMAL},
      is_blackout = #{isBlackout,jdbcType=TINYINT},
      is_delete = #{isDelete,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      is_default = #{isDefault,jdbcType=TINYINT}
    where alarm_id = #{alarmId,jdbcType=VARCHAR}
  </update>
</mapper>