<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.tw.saas.serv.mapper.rule.RuleAppendMapper" >
  <resultMap id="BaseResultMap" type="cn.com.tw.saas.serv.entity.db.rule.RuleAppend" >
    <id column="append_id" property="appendId" jdbcType="VARCHAR" />
    <result column="org_id" property="orgId" jdbcType="VARCHAR" />
    <result column="cont_name" property="contName" jdbcType="VARCHAR" />
    <result column="is_default" property="isDefault" jdbcType="TINYINT" />
    <result column="charge_type" property="chargeType" jdbcType="VARCHAR" />
    <result column="unit_price" property="unitPrice" jdbcType="DECIMAL" />
    <result column="charge_model" property="chargeModel" jdbcType="VARCHAR" />
    <result column="charge_periodicity" property="chargePeriodicity" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    append_id, org_id, cont_name, is_default, charge_type, unit_price, charge_model, 
    charge_periodicity, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_saas_rule_append
    where append_id = #{appendId,jdbcType=VARCHAR}
  </select>
  
  <select id="selectByEntity" resultMap="BaseResultMap" parameterType="cn.com.tw.saas.serv.entity.db.rule.RuleAppend" >
        select 
        <include refid="Base_Column_List" />
        from t_saas_rule_append
        <where>
			  <if test="orgId != null and orgId != ''" >
		        and org_id = #{orgId,jdbcType=VARCHAR}
		      </if>
		      <if test="contName != null and contName != ''" >
		        and cont_name = #{contName,jdbcType=VARCHAR}
		      </if>
		      <if test="isDefault != null and isDefault != ''" >
		        and is_default = #{isDefault,jdbcType=TINYINT}
		      </if>
		      <if test="chargeType != null and chargeType != ''" >
		        and charge_type = #{chargeType,jdbcType=VARCHAR}
		      </if>
		      <if test="unitPrice != null and unitPrice != ''" >
		        and unit_price = #{unitPrice,jdbcType=DECIMAL}
		      </if>
		      <if test="chargeModel != null and chargeModel != ''" >
		        and charge_model = #{chargeModel,jdbcType=VARCHAR}
		      </if>
		      <if test="chargePeriodicity != null and chargePeriodicity != ''" >
		        and charge_periodicity = #{chargePeriodicity,jdbcType=VARCHAR}
		      </if>
		</where>
		ORDER BY create_time DESC
  </select>
  
  
   <select id="selectByPage" resultMap="BaseResultMap" parameterType="cn.com.tw.common.web.entity.page.Page" >
        select 
        <include refid="Base_Column_List" />
        from t_saas_rule_append
        <where>
			  <if test="paramObj.orgId != null and paramObj.orgId != ''" >
		        and org_id = #{paramObj.orgId,jdbcType=VARCHAR}
		      </if>
		      <if test="paramObj.contName != null and paramObj.contName != ''" >
		        and cont_name like CONCAT('%', #{paramObj.contName,jdbcType=VARCHAR},'%')
		      </if>
		      <if test="paramObj.isDefault != null and paramObj.isDefault != ''" >
		        and is_default = #{paramObj.isDefault,jdbcType=TINYINT}
		      </if>
		      <if test="paramObj.chargeType != null and paramObj.chargeType != ''" >
		        and charge_type = #{paramObj.chargeType,jdbcType=VARCHAR}
		      </if>
		      <if test="paramObj.unitPrice != null and paramObj.unitPrice != ''" >
		        and unit_price = #{paramObj.unitPrice,jdbcType=DECIMAL}
		      </if>
		      <if test="paramObj.chargeModel != null and paramObj.chargeModel != ''" >
		        and charge_model = #{paramObj.chargeModel,jdbcType=VARCHAR}
		      </if>
		      <if test="paramObj.chargePeriodicity != null and paramObj.chargePeriodicity != ''" >
		        and charge_periodicity = #{paramObj.chargePeriodicity,jdbcType=VARCHAR}
		      </if>
		</where>
		ORDER BY create_time DESC
  </select>
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_saas_rule_append
    where append_id = #{appendId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.com.tw.saas.serv.entity.db.rule.RuleAppend" >
    insert into t_saas_rule_append (append_id, org_id, cont_name, 
      is_default, charge_type, unit_price, 
      charge_model, charge_periodicity, create_time, 
      update_time)
    values (uuid_short(), #{orgId,jdbcType=VARCHAR}, #{contName,jdbcType=VARCHAR}, 
      #{isDefault,jdbcType=TINYINT}, #{chargeType,jdbcType=VARCHAR}, #{unitPrice,jdbcType=DECIMAL}, 
      #{chargeModel,jdbcType=VARCHAR}, #{chargePeriodicity,jdbcType=VARCHAR}, now(), now())
  </insert>
  <insert id="insertSelective" parameterType="cn.com.tw.saas.serv.entity.db.rule.RuleAppend" >
    insert into t_saas_rule_append
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="appendId != null" >
        append_id,
      </if>
      <if test="orgId != null" >
        org_id,
      </if>
      <if test="contName != null" >
        cont_name,
      </if>
      <if test="isDefault != null" >
        is_default,
      </if>
      <if test="chargeType != null" >
        charge_type,
      </if>
      <if test="unitPrice != null" >
        unit_price,
      </if>
      <if test="chargeModel != null" >
        charge_model,
      </if>
      <if test="chargePeriodicity != null" >
        charge_periodicity,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="appendId != null" >
        #{appendId,jdbcType=VARCHAR},
      </if>
      <if test="orgId != null" >
        #{orgId,jdbcType=VARCHAR},
      </if>
      <if test="contName != null" >
        #{contName,jdbcType=VARCHAR},
      </if>
      <if test="isDefault != null" >
        #{isDefault,jdbcType=TINYINT},
      </if>
      <if test="chargeType != null" >
        #{chargeType,jdbcType=VARCHAR},
      </if>
      <if test="unitPrice != null" >
        #{unitPrice,jdbcType=DECIMAL},
      </if>
      <if test="chargeModel != null" >
        #{chargeModel,jdbcType=VARCHAR},
      </if>
      <if test="chargePeriodicity != null" >
        #{chargePeriodicity,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.tw.saas.serv.entity.db.rule.RuleAppend" >
    update t_saas_rule_append
    <set >
      <if test="orgId != null" >
        org_id = #{orgId,jdbcType=VARCHAR},
      </if>
      <if test="contName != null" >
        cont_name = #{contName,jdbcType=VARCHAR},
      </if>
      <if test="isDefault != null" >
        is_default = #{isDefault,jdbcType=TINYINT},
      </if>
      <if test="chargeType != null" >
        charge_type = #{chargeType,jdbcType=VARCHAR},
      </if>
      <if test="unitPrice != null" >
        unit_price = #{unitPrice,jdbcType=DECIMAL},
      </if>
      <if test="chargeModel != null" >
        charge_model = #{chargeModel,jdbcType=VARCHAR},
      </if>
      <if test="chargePeriodicity != null" >
        charge_periodicity = #{chargePeriodicity,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where append_id = #{appendId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.tw.saas.serv.entity.db.rule.RuleAppend" >
    update t_saas_rule_append
    set org_id = #{orgId,jdbcType=VARCHAR},
      cont_name = #{contName,jdbcType=VARCHAR},
      is_default = #{isDefault,jdbcType=TINYINT},
      charge_type = #{chargeType,jdbcType=VARCHAR},
      unit_price = #{unitPrice,jdbcType=DECIMAL},
      charge_model = #{chargeModel,jdbcType=VARCHAR},
      charge_periodicity = #{chargePeriodicity,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where append_id = #{appendId,jdbcType=VARCHAR}
  </update>
</mapper>