<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.tw.paas.monit.mapper.base.CmdInsMapper" >
  <resultMap id="BaseResultMap" type="cn.com.tw.paas.monit.entity.db.base.CmdIns" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="cmd_code" property="cmdCode" jdbcType="VARCHAR" />
    <result column="equip_type" property="equipType" jdbcType="VARCHAR" />
    <result column="protocol_type_code" property="protocolType" jdbcType="VARCHAR" />
    <result column="model_id" property="modelId" jdbcType="VARCHAR" />
    <result column="soft_versoin" property="softVersoin" jdbcType="VARCHAR" />
    <result column="item_index" property="itemIndex" jdbcType="INTEGER" />
    <result column="ins_id" property="insId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, cmd_code, equip_type, protocol_type_code, model_id, soft_versoin, item_index, ins_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_base_cmd_ins
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_base_cmd_ins
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.com.tw.paas.monit.entity.db.base.CmdIns" >
    insert into t_base_cmd_ins (id, cmd_code, equip_type, protocol_type_code,
      model_id, soft_versoin, item_index, 
      ins_id)
    values (#{id,jdbcType=INTEGER}, #{cmdCode,jdbcType=VARCHAR}, #{equipType,jdbcType=VARCHAR}, #{protocolType,jdbcType=VARCHAR},
      #{modelId,jdbcType=VARCHAR}, #{softVersoin,jdbcType=VARCHAR}, #{itemIndex,jdbcType=INTEGER}, 
      #{insId,jdbcType=VARCHAR})
  </insert>
 
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.tw.paas.monit.entity.db.base.CmdIns" >
    update t_base_cmd_ins
    <set >
      <if test="cmdCode != null" >
        cmd_code = #{cmdCode,jdbcType=VARCHAR},
      </if>
      <if test="equipType != null" >
        equip_type = #{equipType,jdbcType=VARCHAR},
      </if>
      <if test="protocolType != null" >
        protocol_type_code = #{protocolType,jdbcType=VARCHAR},
      </if>
      <if test="modelId != null" >
        model_id = #{modelId,jdbcType=VARCHAR},
      </if>
      <if test="softVersoin != null" >
        soft_versoin = #{softVersoin,jdbcType=VARCHAR},
      </if>
      <if test="itemIndex != null" >
        item_index = #{itemIndex,jdbcType=INTEGER},
      </if>
      <if test="insId != null" >
        ins_id = #{insId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.tw.paas.monit.entity.db.base.CmdIns" >
    update t_base_cmd_ins
    set cmd_code = #{cmdCode,jdbcType=VARCHAR},
      equip_type = #{equipType,jdbcType=VARCHAR},
      protocol_type_code = #{protocolType,jdbcType=VARCHAR},
      model_id = #{modelId,jdbcType=VARCHAR},
      soft_versoin = #{softVersoin,jdbcType=VARCHAR},
      item_index = #{itemIndex,jdbcType=INTEGER},
      ins_id = #{insId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>