<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.tw.paas.monit.mapper.base.CmdMapper" >
  <resultMap id="BaseResultMap" type="cn.com.tw.paas.monit.entity.db.base.Cmd" >
    <id column="cmd_id" property="cmdId" jdbcType="VARCHAR" />
    <result column="cmd_name" property="cmdName" jdbcType="VARCHAR" />
    <result column="cmd_code" property="cmdCode" jdbcType="VARCHAR" />
    <result column="cmd_type" property="cmdType" jdbcType="VARCHAR" />
    <result column="cmd_identity" property="cmdIdentity" jdbcType="INTEGER" />
    <result column="cmd_retry_num" property="cmdRetryNum" jdbcType="INTEGER" />
    <result column="cmd_detail" property="cmdDetail" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    cmd_id, cmd_name, cmd_code, cmd_type, cmd_identity, cmd_detail,cmd_retry_num
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_base_cmd
    where cmd_id = #{cmdId,jdbcType=VARCHAR}
  </select>
  

  <select id="selectByEntity" resultMap="BaseResultMap" parameterType="cn.com.tw.paas.monit.entity.db.base.Cmd" >
    select 
    <include refid="Base_Column_List" />
    from t_base_cmd
    where 1=1 
      <if test="cmdId != null" >
       	and cmd_id = #{cmdId,jdbcType=VARCHAR}
      </if>
      <if test="cmdName != null" >
        and cmd_name = #{cmdName,jdbcType=VARCHAR}
      </if>
      <if test="cmdCode != null" >
        and cmd_code = #{cmdCode,jdbcType=VARCHAR}
      </if>
      <if test="cmdType != null" >
        and cmd_type = #{cmdType,jdbcType=VARCHAR}
      </if>
      <if test="cmdIdentity != null" >
        and cmd_identity = #{cmdIdentity,jdbcType=VARCHAR}
      </if>
      <if test="cmdDetail != null" >
         and cmd_detail = #{cmdDetail,jdbcType=VARCHAR}
      </if>
  </select>
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_base_cmd
    where cmd_id = #{cmdId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.com.tw.paas.monit.entity.db.base.Cmd" >
    insert into t_base_cmd (cmd_id, cmd_name, cmd_code, 
      cmd_type, cmd_identity, cmd_detail,cmd_retry_num
      )
    values (#{cmdId,jdbcType=VARCHAR}, #{cmdName,jdbcType=VARCHAR}, #{cmdCode,jdbcType=VARCHAR}, 
      #{cmdType,jdbcType=VARCHAR}, #{cmdIdentity,jdbcType=INTEGER}, #{cmdDetail,jdbcType=VARCHAR}
      , #{cmdRetryNum,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.com.tw.paas.monit.entity.db.base.Cmd" >
    insert into t_base_cmd
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cmdId != null" >
        cmd_id,
      </if>
      <if test="cmdName != null" >
        cmd_name,
      </if>
      <if test="cmdCode != null" >
        cmd_code,
      </if>
      <if test="cmdType != null" >
        cmd_type,
      </if>
      <if test="cmdIdentity != null" >
        cmd_identity,
      </if>
      <if test="cmdDetail != null" >
        cmd_detail,
      </if>
       <if test="cmdRetryNum != null" >
        cmd_retry_num,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cmdId != null" >
        #{cmdId,jdbcType=VARCHAR},
      </if>
      <if test="cmdName != null" >
        #{cmdName,jdbcType=VARCHAR},
      </if>
      <if test="cmdCode != null" >
        #{cmdCode,jdbcType=VARCHAR},
      </if>
      <if test="cmdType != null" >
        #{cmdType,jdbcType=VARCHAR},
      </if>
      <if test="cmdIdentity != null" >
        #{cmdIdentity,jdbcType=INTEGER},
      </if>
      <if test="cmdDetail != null" >
        #{cmdDetail,jdbcType=VARCHAR},
      </if>
       <if test="cmdRetryNum != null" >
       	 #{cmdRetryNum,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.tw.paas.monit.entity.db.base.Cmd" >
    update t_base_cmd
    <set >
      <if test="cmdName != null" >
        cmd_name = #{cmdName,jdbcType=VARCHAR},
      </if>
      <if test="cmdCode != null" >
        cmd_code = #{cmdCode,jdbcType=VARCHAR},
      </if>
      <if test="cmdType != null" >
        cmd_type = #{cmdType,jdbcType=VARCHAR},
      </if>
      <if test="cmdIdentity != null" >
        cmd_identity = #{cmdIdentity,jdbcType=INTEGER},
      </if>
      <if test="cmdDetail != null" >
        cmd_detail = #{cmdDetail,jdbcType=VARCHAR},
      </if>
      <if test="cmdRetryNum != null" >
       	cmd_retry_num = #{cmdRetryNum,jdbcType=INTEGER},
      </if>
    </set>
    where cmd_id = #{cmdId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.tw.paas.monit.entity.db.base.Cmd" >
    update t_base_cmd
    set cmd_name = #{cmdName,jdbcType=VARCHAR},
      cmd_code = #{cmdCode,jdbcType=VARCHAR},
      cmd_type = #{cmdType,jdbcType=VARCHAR},
      cmd_identity = #{cmdIdentity,jdbcType=INTEGER},
      cmd_retry_num = #{cmdRetryNum,jdbcType=INTEGER},
      cmd_detail = #{cmdDetail,jdbcType=VARCHAR}
    where cmd_id = #{cmdId,jdbcType=VARCHAR}
  </update>
</mapper>