<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.tw.paas.monit.mapper.base.DataItemMapper" >
    <resultMap id="BaseResultMap" type="cn.com.tw.paas.monit.entity.db.base.DataItem" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="item_type" property="itemType" jdbcType="VARCHAR" />
        <result column="item_code" property="itemCode" jdbcType="VARCHAR" />
        <result column="item_short_code" property="itemShortCode" jdbcType="VARCHAR" />
        <result column="item_name" property="itemName" jdbcType="VARCHAR" />
        <result column="unit" property="unit" jdbcType="VARCHAR" />
        <result column="total_place" property="totalPlace" jdbcType="INTEGER" />
        <result column="decimal_place" property="decimalPlace" jdbcType="INTEGER" />
        <result column="format" property="format" jdbcType="VARCHAR" />
        <result column="is_multiply_ct" property="isMultiplyCt" jdbcType="TINYINT" />
        <result column="is_multiply_pt" property="isMultiplyPt" jdbcType="TINYINT" />
        <result column="read_or_write" property="readOrWrite" jdbcType="TINYINT" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, item_type, item_code, item_short_code, item_name, unit, total_place, decimal_place, format, is_multiply_ct, 
        is_multiply_pt, read_or_write
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select 
        <include refid="Base_Column_List" />
        from t_base_data_item
        where id = #{id,jdbcType=INTEGER}
    </select>
    
    <select id="queryAll" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select 
        <include refid="Base_Column_List" />
        from t_base_data_item
    </select>
    
    <insert id="insert" parameterType="cn.com.tw.paas.monit.entity.db.base.DataItem" >
        insert into t_base_data_item (id, item_type, item_code, 
            item_name, unit, total_place, 
            decimal_place, format, is_multiply_ct, 
            is_multiply_pt, read_or_write)
        values (#{id,jdbcType=INTEGER}, #{itemType,jdbcType=VARCHAR}, #{itemCode,jdbcType=VARCHAR}, 
            #{itemName,jdbcType=VARCHAR}, #{unit,jdbcType=VARCHAR}, #{totalPlace,jdbcType=INTEGER}, 
            #{decimalPlace,jdbcType=INTEGER}, #{format,jdbcType=VARCHAR}, #{isMultiplyCt,jdbcType=TINYINT}, 
            #{isMultiplyPt,jdbcType=TINYINT}, #{readOrWrite,jdbcType=TINYINT})
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="cn.com.tw.paas.monit.entity.db.base.DataItem" >
        update t_base_data_item
        <set >
            <if test="itemType != null" >
                item_type = #{itemType,jdbcType=VARCHAR},
            </if>
            <if test="itemCode != null" >
                item_code = #{itemCode,jdbcType=VARCHAR},
            </if>
            <if test="itemName != null" >
                item_name = #{itemName,jdbcType=VARCHAR},
            </if>
            <if test="unit != null" >
                unit = #{unit,jdbcType=VARCHAR},
            </if>
            <if test="totalPlace != null" >
                total_place = #{totalPlace,jdbcType=INTEGER},
            </if>
            <if test="decimalPlace != null" >
                decimal_place = #{decimalPlace,jdbcType=INTEGER},
            </if>
            <if test="format != null" >
                format = #{format,jdbcType=VARCHAR},
            </if>
            <if test="isMultiplyCt != null" >
                is_multiply_ct = #{isMultiplyCt,jdbcType=TINYINT},
            </if>
            <if test="isMultiplyPt != null" >
                is_multiply_pt = #{isMultiplyPt,jdbcType=TINYINT},
            </if>
            <if test="readOrWrite != null" >
                read_or_write = #{readOrWrite,jdbcType=TINYINT},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from t_base_data_item
        where id = #{id,jdbcType=INTEGER}
    </delete>

</mapper>