<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.tw.saas.serv.mapper.room.AllowanceRecordMapper" >
    <resultMap id="BaseResultMap" type="cn.com.tw.saas.serv.entity.room.AllowanceRecord" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="org_id" property="orgId" jdbcType="VARCHAR" />
        <result column="org_name" property="orgName" jdbcType="VARCHAR" />
        <result column="room_id" property="roomId" jdbcType="VARCHAR" />
        <result column="room_account_id" property="roomAccountId" jdbcType="VARCHAR" />
        <result column="room_name" property="roomName" jdbcType="VARCHAR" />
        <result column="room_number" property="roomNumber" jdbcType="VARCHAR" />
        <result column="room_full_name" property="roomFullName" jdbcType="VARCHAR" />
        <result column="energy_type" property="energyType" jdbcType="VARCHAR" />
        <result column="order_type_code" property="orderTypeCode" jdbcType="VARCHAR" />
        <result column="order_id" property="orderId" jdbcType="VARCHAR" />
        <result column="execute_time" property="executeTime" jdbcType="TIMESTAMP" />
        <result column="volume" property="volume" jdbcType="DECIMAL" />
        <result column="balance" property="balance" jdbcType="DECIMAL" />
        <result column="status" property="status" jdbcType="TINYINT" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
        <result column="details" property="details" jdbcType="VARCHAR" />
        <result column="bill_template_id" property="billTemplateId" jdbcType="VARCHAR" />
        <result column="operator_id" property="operatorId" jdbcType="VARCHAR" />
        <result column="operator_name" property="operatorName" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, org_id, org_name, room_id, room_account_id, room_name, room_number, room_full_name, 
        energy_type, order_type_code, order_id, execute_time, volume, balance, status, remark, details, 
        bill_template_id, operator_id, operator_name, create_time, update_time
    </sql>
    
    <select id="selectWaitExecuteToday" resultMap="BaseResultMap">
SELECT
	 <include refid="Base_Column_List" />
FROM
	t_saas_room_allowance_record
WHERE
	`status` = 0
AND DATE(execute_time) = DATE(now())
    </select>
    
    <delete id="deleteByOrderId" parameterType="java.lang.String" >
        delete from t_saas_room_allowance_record
        where order_id = #{orderId,jdbcType=VARCHAR}
        and `status` = 0
    </delete>
    
    <select id="selectByOrderId" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select 
        <include refid="Base_Column_List" />
        from t_saas_room_allowance_record
        where order_id = #{orderId,jdbcType=VARCHAR}
        and `status` = 0
    </select>
    
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select 
        <include refid="Base_Column_List" />
        from t_saas_room_allowance_record
        where id = #{id,jdbcType=VARCHAR}
    </select>
    
    <select id="selectByRoomId" resultMap="BaseResultMap" parameterType="java.lang.String">
    	select
    	<include refid="Base_Column_List" />
    	from t_saas_room_allowance_record
    	where room_id = #{roomId,jdbcType=VARCHAR}
    </select>
    
    <select id="selectByRoomIdAndStatus" resultMap="BaseResultMap" parameterType="java.lang.String">
    	select
    	<include refid="Base_Column_List" />
    	from t_saas_room_allowance_record
    	where room_id = #{roomId,jdbcType=VARCHAR} AND `status` = '0'
    </select>

    <insert id="insert" parameterType="cn.com.tw.saas.serv.entity.room.AllowanceRecord" >
        insert into t_saas_room_allowance_record (id, org_id, org_name, 
            room_id, room_account_id, room_name, 
            room_number, room_full_name, energy_type, 
            order_type_code, order_id, execute_time,
            volume, balance, status, remark, 
            details, bill_template_id, operator_id, 
            operator_name, create_time, update_time
            )
        values (#{id,jdbcType=VARCHAR}, #{orgId,jdbcType=VARCHAR}, #{orgName,jdbcType=VARCHAR}, 
            #{roomId,jdbcType=VARCHAR}, #{roomAccountId,jdbcType=VARCHAR}, #{roomName,jdbcType=VARCHAR}, 
            #{roomNumber,jdbcType=VARCHAR}, #{roomFullName,jdbcType=VARCHAR}, #{energyType,jdbcType=VARCHAR}, 
            #{orderTypeCode,jdbcType=VARCHAR}, #{orderId,jdbcType=VARCHAR}, #{executeTime,jdbcType=TIMESTAMP},
            #{volume,jdbcType=DECIMAL}, #{balance,jdbcType=DECIMAL}, #{status,jdbcType=TINYINT}, #{remark,jdbcType=VARCHAR}, 
            #{details,jdbcType=VARCHAR}, #{billTemplateId,jdbcType=VARCHAR}, #{operatorId,jdbcType=VARCHAR}, 
            #{operatorName,jdbcType=VARCHAR}, now(), now()
            )
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="cn.com.tw.saas.serv.entity.room.AllowanceRecord" >
        update t_saas_room_allowance_record
        <set >
            <if test="orgId != null" >
                org_id = #{orgId,jdbcType=VARCHAR},
            </if>
            <if test="orgName != null" >
                org_name = #{orgName,jdbcType=VARCHAR},
            </if>
            <if test="roomId != null" >
                room_id = #{roomId,jdbcType=VARCHAR},
            </if>
            <if test="roomAccountId != null" >
                room_account_id = #{roomAccountId,jdbcType=VARCHAR},
            </if>
            <if test="roomName != null" >
                room_name = #{roomName,jdbcType=VARCHAR},
            </if>
            <if test="roomNumber != null" >
                room_number = #{roomNumber,jdbcType=VARCHAR},
            </if>
            <if test="roomFullName != null" >
                room_full_name = #{roomFullName,jdbcType=VARCHAR},
            </if>
            <if test="energyType != null" >
                energy_type = #{energyType,jdbcType=VARCHAR},
            </if>
            <if test="orderTypeCode != null" >
                order_type_code = #{orderTypeCode,jdbcType=VARCHAR},
            </if>
            <if test="orderId != null" >
                order_id = #{orderId,jdbcType=VARCHAR},
            </if>
            <if test="executeTime != null" >
                execute_time = #{executeTime,jdbcType=TIMESTAMP},
            </if>
            <if test="volume != null" >
                volume = #{volume,jdbcType=DECIMAL},
            </if>
            <if test="balance != null" >
                balance = #{balance,jdbcType=DECIMAL},
            </if>
            <if test="status != null" >
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="remark != null" >
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="details != null" >
                details = #{details,jdbcType=VARCHAR},
            </if>
            <if test="billTemplateId != null" >
                bill_template_id = #{billTemplateId,jdbcType=VARCHAR},
            </if>
            <if test="operatorId != null" >
                operator_id = #{operatorId,jdbcType=VARCHAR},
            </if>
            <if test="operatorName != null" >
                operator_name = #{operatorName,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            	update_time = now()
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
        delete from t_saas_room_allowance_record
        where id = #{id,jdbcType=VARCHAR}
    </delete>

</mapper>