<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.tw.saas.serv.mapper.room.AllowancePlanMapper" >
    <resultMap id="BaseResultMap" type="cn.com.tw.saas.serv.entity.room.AllowancePlan" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="org_id" property="orgId" jdbcType="VARCHAR" />
        <result column="org_name" property="orgName" jdbcType="VARCHAR" />
        <result column="room_amount" property="roomAmount" jdbcType="INTEGER" />
        <result column="energy_type" property="energyType" jdbcType="VARCHAR" />
        <result column="batch_no" property="batchNo" jdbcType="VARCHAR" />
        <result column="month" property="month" jdbcType="VARCHAR" />
        <result column="execute_time" property="executeTime" jdbcType="TIMESTAMP" />
        <result column="percent" property="percent" jdbcType="INTEGER" />
        <result column="status" property="status" jdbcType="TINYINT" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
        <result column="operator_id" property="operatorId" jdbcType="VARCHAR" />
        <result column="operator_name" property="operatorName" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, org_id, org_name, room_amount, energy_type, batch_no, month, execute_time, percent, 
        status, remark, operator_id, operator_name, create_time, update_time
    </sql>
    
    <select id="selectByPage" resultMap="BaseResultMap" parameterType="cn.com.tw.common.web.entity.page.Page" >
        select 
        <include refid="Base_Column_List" />
        from t_saas_room_allowance_plan
        <where>
        	<if test="paramObj.orgId != null" >
                org_id = #{paramObj.orgId,jdbcType=VARCHAR}
            </if>
            <if test="paramObj.energyType != null" >
                and energy_type = #{paramObj.energyType,jdbcType=VARCHAR}
            </if>
            <if test="paramObj.batchNo != null" >
                and batch_no = #{paramObj.batchNo,jdbcType=VARCHAR}
            </if>
            <if test="paramObj.month != null" >
                and month = #{paramObj.month,jdbcType=VARCHAR}
            </if>
            <if test="paramObj.status != null" >
                and status = #{paramObj.status,jdbcType=TINYINT}
            </if>
            <if test="paramObj.operatorId != null" >
                and operator_id = #{paramObj.operatorId,jdbcType=VARCHAR}
            </if>
        </where>
        order by execute_time desc
    </select>
    
    <select id="selectByEntity" resultMap="BaseResultMap" parameterType="cn.com.tw.saas.serv.entity.room.AllowancePlan" >
        select 
        <include refid="Base_Column_List" />
        from t_saas_room_allowance_plan
        <where>
        	<if test="orgId != null" >
                org_id = #{orgId,jdbcType=VARCHAR}
            </if>
            <if test="energyType != null" >
                and energy_type = #{energyType,jdbcType=VARCHAR}
            </if>
            <if test="batchNo != null" >
                and batch_no = #{batchNo,jdbcType=VARCHAR}
            </if>
            <if test="month != null" >
                and month = #{month,jdbcType=VARCHAR}
            </if>
            <if test="status != null" >
                and status = #{status,jdbcType=TINYINT}
            </if>
            <if test="operatorId != null" >
                and operator_id = #{operatorId,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
    
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select 
        <include refid="Base_Column_List" />
        from t_saas_room_allowance_plan
        where id = #{id,jdbcType=VARCHAR}
    </select>

    <insert id="insert" parameterType="cn.com.tw.saas.serv.entity.room.AllowancePlan" >
        insert into t_saas_room_allowance_plan (id, org_id, org_name, 
            room_amount, energy_type, batch_no, 
            month, execute_time, percent, 
            status, remark, operator_id, 
            operator_name, create_time, update_time
            )
        values (#{id,jdbcType=VARCHAR}, #{orgId,jdbcType=VARCHAR}, #{orgName,jdbcType=VARCHAR}, 
            #{roomAmount,jdbcType=INTEGER}, #{energyType,jdbcType=VARCHAR}, #{batchNo,jdbcType=VARCHAR}, 
            #{month,jdbcType=VARCHAR}, #{executeTime,jdbcType=TIMESTAMP}, #{percent,jdbcType=INTEGER}, 
            #{status,jdbcType=TINYINT}, #{remark,jdbcType=VARCHAR}, #{operatorId,jdbcType=VARCHAR}, 
            #{operatorName,jdbcType=VARCHAR}, now(),#{updateTime,jdbcType=TIMESTAMP}
            )
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="cn.com.tw.saas.serv.entity.room.AllowancePlan" >
        update t_saas_room_allowance_plan
        <set >
            <if test="orgId != null" >
                org_id = #{orgId,jdbcType=VARCHAR},
            </if>
            <if test="orgName != null" >
                org_name = #{orgName,jdbcType=VARCHAR},
            </if>
            <if test="roomAmount != null" >
                room_amount = #{roomAmount,jdbcType=INTEGER},
            </if>
            <if test="energyType != null" >
                energy_type = #{energyType,jdbcType=VARCHAR},
            </if>
            <if test="batchNo != null" >
                batch_no = #{batchNo,jdbcType=VARCHAR},
            </if>
            <if test="month != null" >
                month = #{month,jdbcType=VARCHAR},
            </if>
            <if test="executeTime != null" >
                execute_time = #{executeTime,jdbcType=TIMESTAMP},
            </if>
            <if test="percent != null" >
                percent = #{percent,jdbcType=INTEGER},
            </if>
            <if test="status != null" >
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="remark != null" >
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="operatorId != null" >
                operator_id = #{operatorId,jdbcType=VARCHAR},
            </if>
            <if test="operatorName != null" >
                operator_name = #{operatorName,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
                update_time = now()
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    
    
    <update id="updateRoomAmount" parameterType="cn.com.tw.saas.serv.entity.room.AllowancePlan" >
        update t_saas_room_allowance_plan
        <set >
            <if test="orgId != null" >
                org_id = #{orgId,jdbcType=VARCHAR},
            </if>
            <if test="orgName != null" >
                org_name = #{orgName,jdbcType=VARCHAR},
            </if>
            <if test="roomAmount != null" >
                room_amount = #{roomAmount,jdbcType=INTEGER},
            </if>
            <if test="energyType != null" >
                energy_type = #{energyType,jdbcType=VARCHAR},
            </if>
            <if test="batchNo != null" >
                batch_no = #{batchNo,jdbcType=VARCHAR},
            </if>
            <if test="month != null" >
                month = #{month,jdbcType=VARCHAR},
            </if>
            <if test="executeTime != null" >
                execute_time = #{executeTime,jdbcType=TIMESTAMP},
            </if>
            <if test="percent != null" >
                percent = #{percent,jdbcType=INTEGER},
            </if>
            <if test="status != null" >
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="remark != null" >
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="operatorId != null" >
                operator_id = #{operatorId,jdbcType=VARCHAR},
            </if>
            <if test="operatorName != null" >
                operator_name = #{operatorName,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
        delete from t_saas_room_allowance_plan
        where id = #{id,jdbcType=VARCHAR}
    </delete>

</mapper>