<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.tw.saas.serv.mapper.room.RoomMeterSwitchingManagentMapper">
		<resultMap id="BaseResultMap" type="cn.com.tw.saas.serv.entity.room.RoomMeterSwitchingManagent" >
			<id column="room_id" property="roomId" jdbcType="VARCHAR" />
        <result column="org_id" property="orgId" jdbcType="VARCHAR" />
        <result column="region_id" property="regionId" jdbcType="VARCHAR" />
        <result column="region_no" property="regionNo" jdbcType="VARCHAR" />
        <result column="region_number" property="regionNumber" jdbcType="VARCHAR" />
        <result column="region_full_name" property="regionFullName" jdbcType="VARCHAR" />
        <result column="room_use" property="roomUse" jdbcType="VARCHAR" />
        <result column="room_number" property="roomNumber" jdbcType="VARCHAR" />
        <result column="room_name" property="roomName" jdbcType="VARCHAR" />
        <result column="area" property="area" jdbcType="DECIMAL" />
        <result column="people_limit" property="peopleLimit" jdbcType="INTEGER" />
        <result column="people_number" property="peopleNumber" jdbcType="INTEGER" />
        <result column="account_status" property="accountStatus" jdbcType="TINYINT" />
        <result column="account_id" property="accountId" jdbcType="VARCHAR" />
        <result column="balance" property="balance" jdbcType="DECIMAL" />
        <result column="elec_allowance_type" property="elecAllowanceType" jdbcType="VARCHAR" />
        <result column="elec_allowance_rule_id" property="elecAllowanceRuleId" jdbcType="VARCHAR" />
        <result column="elec_allowance" property="elecAllowance" jdbcType="DECIMAL" />
        <result column="water_allowance_type" property="waterAllowanceType" jdbcType="VARCHAR" />
        <result column="water_allowance_rule_id" property="waterAllowanceRuleId" jdbcType="VARCHAR" />
        <result column="water_allowance" property="waterAllowance" jdbcType="DECIMAL" />
        <result column="rental_id" property="rentalId" jdbcType="VARCHAR" />
        <result column="property_id" property="propertyId" jdbcType="VARCHAR" />
        <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
        <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />

        <result column="customer_no" property="customerNo" jdbcType="VARCHAR" />
        <result column="customer_realname" property="customerRealname" jdbcType="VARCHAR" />
        <result column="customer_mobile1" property="customerMobile1" jdbcType="VARCHAR" />
        <result column="sub_water_balance" property="subWaterBalance" jdbcType="DECIMAL" />
        <result column="sub_elec_balance" property="subElecBalance" jdbcType="DECIMAL" />
        <result column="totle_balance" property="totleBalance" jdbcType="DECIMAL" />
        <result column="elec_meter" property="elecMeter" jdbcType="VARCHAR" />
	    <result column="elec_install_addr" property="elecInstallAddr" jdbcType="VARCHAR" />
	    <result column="water_meter" property="waterMeter" jdbcType="VARCHAR" />
	    <result column="water_install_addr" property="waterInstallAddr" jdbcType="VARCHAR" />
	    <result column="meter_type" property="meterType" jdbcType="VARCHAR" />
	    <result column="read_value" property="readValue" jdbcType="DECIMAL" />
		</resultMap>
		
		
		<sql id="Base_Column_List" >
        	room_id, org_id, region_id, region_no, region_number, region_full_name, room_use, 
        	room_number, room_name, area, people_limit, people_number, account_status, account_id, 
        	balance, elec_allowance_type, elec_allowance_rule_id, elec_allowance, water_allowance_type, 
        	water_allowance_rule_id, water_allowance, rental_id, property_id, start_time, end_time, 
        	create_time, update_time,meter_type,read_value
    	</sql>
    	
    	
    <!-- 	<select id="selectByPage" resultMap="BaseResultMap" parameterType="cn.com.tw.common.web.entity.page.Page">
    		select 
    		<include refid="Base_Column_List" />,
    		
    		from t_saas_room
    			<where>
     			<if test="paramObj.orgId != null and paramObj.orgId != ''">
      				and  org_id = #{paramObj.orgId,jdbcType=VARCHAR}
     			</if>
     			<if test="paramObj.regionId != null and paramObj.regionId != ''">
      				and  region_id = #{paramObj.regionId,jdbcType=VARCHAR}
     			</if>
     			<if test="paramObj.regionNo != null and paramObj.regionNo != ''">
      				and  region_no = #{paramObj.regionNo,jdbcType=VARCHAR}
     			</if>
     			<if test="paramObj.roomNumber != null and paramObj.roomNumber != ''">
      				and  room_number like concat ('%',#{paramObj.roomNumber,jdbcType=VARCHAR},'%')
     			</if>
     			<if test="paramObj.roomUse != null and paramObj.roomUse != ''">
      				and  room_use = #{paramObj.roomUse,jdbcType=VARCHAR}
     			</if>
     			<if test="paramObj.roomName != null and paramObj.roomName != ''">
      				and  room_name like concat ('%', #{paramObj.roomName,jdbcType=VARCHAR},'%')
     			</if>
    			</where>
  		</select> -->
  	
  <select id="selectRoomMeterSwitchingManagentByPage" resultMap="BaseResultMap" parameterType="cn.com.tw.common.web.entity.page.Page" >
<!--   	SELECT
		sm.meter_addr,
		sm.meter_type,
		sr.room_name,
		sr.room_number,
		sr.room_use,
		a.loopTypes,
		a.readValues
	FROM
		t_saas_meter sm
	LEFT JOIN t_saas_room sr ON sm.room_id = sr.room_id
	LEFT JOIN (
		SELECT
			rl.meter_addr,
			rl.loop_type,
			GROUP_CONCAT(rl.loop_type SEPARATOR ',') loopTypes,
			GROUP_CONCAT(rl.read_value SEPARATOR ',') readValues
		FROM
			t_read_last rl
		WHERE
			rl.item_code = "isOff"
		AND rl.loop_type IS NOT NULL
		<if test="paramObj.readValue != '' and paramObj.readValue != null">
   			and rl.read_value = #{paramObj.readValue,jdbcType=DECIMAL}
  		</if>  
	) a ON a.meter_addr = sm.meter_addr
	WHERE
		1 = 1 -->
	SELECT
		sm.meter_addr meterAddr,
		sm.meter_type,
		sr.room_name,
		sr.room_number,
		sr.room_use,
		d.loop_type loopType,
		d.read_value read_value,
		d.loop_type1 loopType1,
		d.read_value1 readValue1,
		d.loop_type2 loopType2,
		d.read_value2 readValue2,
		d.loop_type3 loopType3,
		d.read_value3 readValue3
	FROM
		t_saas_meter sm
	LEFT JOIN (SELECT * FROM t_saas_room WHERE org_id = #{paramObj.orgId,jdbcType=VARCHAR}) sr ON sm.room_id = sr.room_id
	LEFT JOIN (
		SELECT
			rl.meter_addr meter_addr,
			rl.loop_type loop_type,
			rl.read_value read_value,
			a.loop_type loop_type1,
			a.read_value read_value1,
			b.loop_type loop_type2,
			b.read_value read_value2,
			c.loop_type loop_type3,
			c.read_value read_value3
		FROM
			t_read_last rl
		LEFT JOIN (
			SELECT
				meter_addr,
				loop_type,
				read_value
			FROM
				t_read_last
			WHERE
				item_code = "isOff"
			AND loop_type IS NOT NULL
			AND loop_type = 1
		) a ON a.meter_addr = rl.meter_addr
		LEFT JOIN (
			SELECT
				meter_addr,
				loop_type,
				read_value
			FROM
				t_read_last
			WHERE
				item_code = "isOff"
			AND loop_type IS NOT NULL
			AND loop_type = 2
		) b ON b.meter_addr = rl.meter_addr
		LEFT JOIN (
			SELECT
				meter_addr,
				loop_type,
				read_value
			FROM
				t_read_last
			WHERE
				item_code = "isOff"
			AND loop_type IS NOT NULL
			AND loop_type = 3
		) c ON c.meter_addr = rl.meter_addr
		WHERE
			rl.item_code = "isOff"
		AND rl.loop_type IS NOT NULL
		AND rl.loop_type = 0
	) d ON d.meter_addr = sm.meter_addr
	WHERE
		1 = 1
	<if test="paramObj.orgId != null and paramObj.orgId != ''">
   		and  sm.org_id = #{paramObj.orgId,jdbcType=VARCHAR}
	</if>
	<if test="paramObj.regionId != null and paramObj.regionId != ''">
		and  sr.region_id = #{paramObj.regionId,jdbcType=VARCHAR}
	</if>
	<if test="paramObj.regionNo != null and paramObj.regionNo != ''">
		and  sr.region_no = #{paramObj.regionNo,jdbcType=VARCHAR}
	</if>
	<if test="paramObj.roomNumber != null and paramObj.roomNumber != ''">
		and  sr.room_number like concat ('%',#{paramObj.roomNumber,jdbcType=VARCHAR},'%')
	</if>
	<if test="paramObj.roomName != null and paramObj.roomName != ''">
   		and  sr.room_name like concat ('%',#{paramObj.roomName,jdbcType=VARCHAR},'%')
  	</if>
	<if test="paramObj.roomUse != null and paramObj.roomUse != ''">
   		and sr.room_use like concat ('%',#{paramObj.roomUse,jdbcType=VARCHAR},'%')
	</if>
  	<if test="paramObj.meterType != null and paramObj.meterType != ''">
   		and sm.meter_Type like concat ('%',#{paramObj.meterType,jdbcType=VARCHAR},'%')
  	</if>
  	<if test="paramObj.readValue != '' and paramObj.readValue != null">
		and (d.read_value = #{paramObj.readValue,jdbcType=DECIMAL} or d.read_value1 = #{paramObj.readValue,jdbcType=DECIMAL} 
		OR d.read_value2 = #{paramObj.readValue,jdbcType=DECIMAL} OR d.read_value3 = #{paramObj.readValue,jdbcType=DECIMAL})
	</if> 
  </select>
  	
  		
  <select id="selectRoomMeterSwitchingManagentByEntity" resultMap="BaseResultMap" parameterType="cn.com.tw.saas.serv.entity.room.RoomMeterSwitchingManagent">
    select 
    <include refid="Base_Column_List" />
    from t_saas_room
    <where>
   	  <if test="orgId != null and orgId != ''" >
        and org_id = #{orgId,jdbcType=VARCHAR}
      </if>
      <if test="regionId != null and regionId !=''" >
        and region_id = #{regionId,jdbcType=VARCHAR}
      </if>
      <if test="regionNo != null and regionNo !=''" >
        and region_no = #{regionNo,jdbcType=VARCHAR}
      </if>
      <if test="regionNumber != null and regionNumber !=''" >
        and region_number = #{regionNumber,jdbcType=VARCHAR}
      </if>
      <if test="roomUse != null and roomUse != ''" >
        and room_use = #{roomUse,jdbcType=VARCHAR}
      </if>
      <if test="roomNumber != null and roomNumber != ''" >
        and room_number = #{roomNumber,jdbcType=VARCHAR}
      </if>
      <if test="roomName != null and roomName != ''" >
        and room_name = #{roomName,jdbcType=VARCHAR}
      </if>
      <if test="peopleLimit != null" >
        and people_limit = #{peopleLimit,jdbcType=INTEGER}
      </if>
      <if test="peopleNumber != null" >
        and people_number = #{peopleNumber,jdbcType=INTEGER}
      </if>
      <if test="accountStatus != null" >
        and account_status = #{accountStatus,jdbcType=TINYINT}
      </if>
      <if test="accountId != null" >
        and account_id = #{accountId,jdbcType=VARCHAR}
      </if>
      <if test="elecAllowanceRuleId != null and elecAllowanceRuleId !=''" >
        and elec_allowance_rule_id = #{elecAllowanceRuleId,jdbcType=VARCHAR}
      </if>
      <if test="waterAllowanceRuleId != null and waterAllowanceRuleId !=''" >
        and water_allowance_rule_id = #{waterAllowanceRuleId,jdbcType=VARCHAR}
      </if>
      <if test="meterType != null and meterType !=''" >
        and meter_type = #{meterType,jdbcType=VARCHAR}
      </if>
     <if test="readValue != null and readValue !=''" >
        and read_value = #{readValue,jdbcType=DECIMAL}
      </if>
      
     </where>
  </select>
  		
  		
  		
</mapper>