<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.tw.saas.serv.mapper.read.ReadManualMapper">
	<resultMap id="BaseResultMap" type="cn.com.tw.saas.serv.entity.db.read.ReadManual">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="org_id" property="orgId" jdbcType="VARCHAR" />
		<result column="meter_addr" property="meterAddr" jdbcType="VARCHAR" />
		<result column="have_meter" property="haveMeter" jdbcType="TINYINT" />
		<result column="item_code" property="itemCode" jdbcType="VARCHAR" />
		<result column="read_value" property="readValue" jdbcType="DECIMAL" />
		<result column="read_staff_id" property="readStaffId" jdbcType="VARCHAR" />
		<result column="read_staff" property="readStaff" jdbcType="VARCHAR" />
		<result column="photo_url" property="photoUrl" jdbcType="VARCHAR" />
		<result column="read_time" property="readTime" jdbcType="TIMESTAMP" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		
		<result column="region_full_name" property="regionFullName" jdbcType="VARCHAR" />
		<result column="room_name" property="roomName" jdbcType="VARCHAR" />
		<result column="room_number" property="roomNumber" jdbcType="VARCHAR" />
		<result column="meter_type" property="meterType" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">
		id, org_id, meter_addr, have_meter, item_code, read_value, read_staff_id,
		read_staff,
		photo_url, read_time, create_time, update_time
	</sql>

	<select id="selectByPage" resultMap="BaseResultMap"
		parameterType="cn.com.tw.common.web.entity.page.Page">
		select
		<include refid="Base_Column_List" />
		from t_read_manual
		<where>
			<if test="paramObj.meterAddr != null and paramObj.meterAddr != ''">
			and	meter_addr like concat('%',#{paramObj.meterAddr,jdbcType=VARCHAR},'%')
			</if>
			<if test="paramObj.orgId != null and paramObj.orgId != ''">
			and	org_id = #{paramObj.orgId,jdbcType=VARCHAR}
			</if>
		</where>
	</select>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from t_read_manual
		where id = #{id,jdbcType=VARCHAR}
	</select>
	
	<select id="selectByEntity" resultMap="BaseResultMap"
		parameterType="cn.com.tw.saas.serv.entity.db.read.ReadManual">
		select
		<include refid="Base_Column_List" />
		from t_read_manual
		<where>
			<if test="meterAddr != null and meterAddr != ''">
				meter_addr = #{meterAddr,jdbcType=VARCHAR}
			</if>
			<if test="orgId != null and orgId != ''">
				and org_id = #{orgId,jdbcType=VARCHAR}
			</if>
			<if test="readTime != null">
				and read_time = #{readTime,jdbcType=TIMESTAMP}
			</if>
		</where>
		
	</select>
	
	<select id="selectAppReadManual" resultMap="BaseResultMap" parameterType="java.lang.String">
		SELECT
			r.region_full_name,
		    r.org_id,
		  	r.room_name,
		  	r.room_number,
		  	m.meter_addr,
		  	rlm.read_value,
		  	rlm.item_code,
		  	rlm.read_time,
  			m.meter_type
		FROM
			t_saas_room r
		LEFT JOIN t_saas_meter m ON m.room_id = r.room_id
		LEFT JOIN (
					SELECT
		      l.item_code,
					l.read_value,
					l.meter_addr,
		      l.read_time
				FROM
					t_read_last l
				WHERE
					(l.item_code = 'waterFlow' OR l.item_code = 'totalActiveE')
				AND l.meter_addr IN (
					SELECT
						meter_addr
					FROM
						t_saas_meter
				)
				GROUP BY
					l.meter_addr
				) rlm ON rlm.meter_addr = m.meter_addr
		
		WHERE r.region_id = #{regionId,jdbcType=VARCHAR} AND m.meter_addr is NOT NULL
		GROUP BY r.region_no,r.room_number
	</select>
	

	<insert id="insert" parameterType="cn.com.tw.saas.serv.entity.db.read.ReadManual">
		insert into t_read_manual (id, org_id, meter_addr,
		have_meter, item_code, read_value,
		read_staff_id, read_staff, photo_url,
		read_time, create_time, update_time
		)
		values (uuid_short(), #{orgId,jdbcType=VARCHAR},
		#{meterAddr,jdbcType=VARCHAR},
		#{haveMeter,jdbcType=TINYINT}, #{itemCode,jdbcType=VARCHAR}, #{readValue,jdbcType=DECIMAL},
		#{readStaffId,jdbcType=VARCHAR}, #{readStaff,jdbcType=VARCHAR},
		#{photoUrl,jdbcType=VARCHAR},
		#{readTime,jdbcType=TIMESTAMP}, now(), now()
		)
	</insert>

	<update id="updateByPrimaryKeySelective" parameterType="cn.com.tw.saas.serv.entity.db.read.ReadManual">
		update t_read_manual
		<set>
			<if test="orgId != null">
				org_id = #{orgId,jdbcType=VARCHAR},
			</if>
			<if test="meterAddr != null">
				meter_addr = #{meterAddr,jdbcType=VARCHAR},
			</if>
			<if test="haveMeter != null">
				have_meter = #{haveMeter,jdbcType=TINYINT},
			</if>
			<if test="itemCode != null">
				item_code = #{itemCode,jdbcType=VARCHAR},
			</if>
			<if test="readValue != null">
				read_value = #{readValue,jdbcType=DECIMAL},
			</if>
			<if test="readStaffId != null">
				read_staff_id = #{readStaffId,jdbcType=VARCHAR},
			</if>
			<if test="readStaff != null">
				read_staff = #{readStaff,jdbcType=VARCHAR},
			</if>
			<if test="photoUrl != null">
				photo_url = #{photoUrl,jdbcType=VARCHAR},
			</if>
			<if test="readTime != null">
				read_time = #{readTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=VARCHAR}
	</update>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from t_read_manual
		where id = #{id,jdbcType=VARCHAR}
	</delete>

</mapper>