<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.tw.saas.serv.mapper.read.VReadLastElecMapper">
	<resultMap id="BaseResultMap"
		type="cn.com.tw.saas.serv.entity.db.read.VReadLastElec">
		<result column="Ua" property="ua" jdbcType="DECIMAL" />
		<result column="Ub" property="ub" jdbcType="DECIMAL" />
		<result column="Uc" property="uc" jdbcType="DECIMAL" />
		<result column="Ia" property="ia" jdbcType="DECIMAL" />
		<result column="Ib" property="ib" jdbcType="DECIMAL" />
		<result column="Ic" property="ic" jdbcType="DECIMAL" />
		<result column="activeP" property="activep" jdbcType="DECIMAL" />
		<result column="activePa" property="activepa" jdbcType="DECIMAL" />
		<result column="activePb" property="activepb" jdbcType="DECIMAL" />
		<result column="activePc" property="activepc" jdbcType="DECIMAL" />
		<result column="reactiveP" property="reactivep" jdbcType="DECIMAL" />
		<result column="reactivePa" property="reactivepa" jdbcType="DECIMAL" />
		<result column="reactivePb" property="reactivepb" jdbcType="DECIMAL" />
		<result column="reactivePc" property="reactivepc" jdbcType="DECIMAL" />
		<result column="PF" property="pf" jdbcType="DECIMAL" />
		<result column="PFa" property="pfa" jdbcType="DECIMAL" />
		<result column="PFb" property="pfb" jdbcType="DECIMAL" />
		<result column="PFc" property="pfc" jdbcType="DECIMAL" />
		<result column="totalActiveE" property="totalactivee" jdbcType="DECIMAL" />
		<result column="totalActiveE1" property="totalactivee1"
			jdbcType="DECIMAL" />
		<result column="totalActiveE2" property="totalactivee2"
			jdbcType="DECIMAL" />
		<result column="totalActiveE3" property="totalactivee3"
			jdbcType="DECIMAL" />
		<result column="totalActiveE4" property="totalactivee4"
			jdbcType="DECIMAL" />
		<result column="positiveActiveE" property="positiveactivee"
			jdbcType="DECIMAL" />
		<result column="positiveActiveE1" property="positiveactivee1"
			jdbcType="DECIMAL" />
		<result column="positiveActiveE2" property="positiveactivee2"
			jdbcType="DECIMAL" />
		<result column="positiveActiveE3" property="positiveactivee3"
			jdbcType="DECIMAL" />
		<result column="positiveActiveE4" property="positiveactivee4"
			jdbcType="DECIMAL" />
		<result column="reverseActiveE" property="reverseactivee"
			jdbcType="DECIMAL" />
		<result column="reverseActiveE1" property="reverseactivee1"
			jdbcType="DECIMAL" />
		<result column="reverseActiveE2" property="reverseactivee2"
			jdbcType="DECIMAL" />
		<result column="reverseActiveE3" property="reverseactivee3"
			jdbcType="DECIMAL" />
		<result column="reverseActiveE4" property="reverseactivee4"
			jdbcType="DECIMAL" />
		<result column="totalReactive1E" property="totalreactive1e"
			jdbcType="DECIMAL" />
		<result column="totalReactive1E1" property="totalreactive1e1"
			jdbcType="DECIMAL" />
		<result column="totalReactive1E2" property="totalreactive1e2"
			jdbcType="DECIMAL" />
		<result column="totalReactive1E3" property="totalreactive1e3"
			jdbcType="DECIMAL" />
		<result column="totalReactive1E4" property="totalreactive1e4"
			jdbcType="DECIMAL" />
		<result column="totalReactive2E" property="totalreactive2e"
			jdbcType="DECIMAL" />
		<result column="totalReactive2E1" property="totalreactive2e1"
			jdbcType="DECIMAL" />
		<result column="totalReactive2E2" property="totalreactive2e2"
			jdbcType="DECIMAL" />
		<result column="totalReactive2E3" property="totalreactive2e3"
			jdbcType="DECIMAL" />
		<result column="totalReactive2E4" property="totalreactive2e4"
			jdbcType="DECIMAL" />
		<result column="isOff" property="isOff" jdbcType="DECIMAL" />
		<result column="meterMoney" property="meterMoney" jdbcType="DECIMAL" />
		<result column="meterOverdraft" property="meterOverdraft"
			jdbcType="DECIMAL" />
		<result column="elecFrequency" property="elecFrequency"
			jdbcType="DECIMAL" />
		<result column="meter_addr" property="meterAddr" jdbcType="VARCHAR" />
		<result column="meter_type" property="meterType" jdbcType="VARCHAR" />
		<result column="loop_type" property="loopType" jdbcType="INTEGER" />
		<result column="elec_meter_type" property="elecMeterType" jdbcType="VARCHAR" />
		<result column="org_id" property="orgId" jdbcType="VARCHAR" />
		<result column="read_time" property="readTime" jdbcType="TIMESTAMP" />
	</resultMap>

	<select id="selectElecAll" resultMap="BaseResultMap"
		parameterType="cn.com.tw.saas.serv.entity.db.read.VReadLastElec">
		SELECT
		Ua, Ub, Uc,
		Ia, Ib, Ic, 
		activeP, activePa, activePb, activePc,
		reactiveP, reactivePa, reactivePb, reactivePc, 
		PF, PFa, PFb, PFc,
		totalActiveE, totalActiveE1, totalActiveE2, totalActiveE3, totalActiveE4, 
		positiveActiveE, positiveActiveE1, positiveActiveE2, positiveActiveE3, positiveActiveE4,
		reverseActiveE, reverseActiveE1, reverseActiveE2, reverseActiveE3, reverseActiveE4, 
		totalReactive1E, totalReactive1E1, totalReactive1E2, totalReactive1E3, totalReactive1E4,
		totalReactive2E, totalReactive2E1, totalReactive2E2, totalReactive2E3, totalReactive2E4,
		isOff, meterMoney, meterOverdraft, elecFrequency, 
		meter_addr, org_id, meter_type, loop_type, elec_meter_type, read_time
		FROM
		v_read_last_elec 
		WHERE meter_addr = #{meterAddr,jdbcType=VARCHAR} and loop_type = #{loopType,jdbcType=INTEGER}
	</select>
	
	<select id="selectElecAll1" resultMap="BaseResultMap" parameterType="cn.com.tw.saas.serv.entity.db.read.VReadLastElec">
		SELECT
			Ua, Ub, Uc,
			Ia, Ib, Ic, 
			activeP, activePa, activePb, activePc,
			reactiveP, reactivePa, reactivePb, reactivePc, 
			PF, PFa, PFb, PFc,
			totalActiveE, totalActiveE1, totalActiveE2, totalActiveE3, totalActiveE4, 
			positiveActiveE, positiveActiveE1, positiveActiveE2, positiveActiveE3, positiveActiveE4,
			reverseActiveE, reverseActiveE1, reverseActiveE2, reverseActiveE3, reverseActiveE4, 
			totalReactive1E, totalReactive1E1, totalReactive1E2, totalReactive1E3, totalReactive1E4,
			totalReactive2E, totalReactive2E1, totalReactive2E2, totalReactive2E3, totalReactive2E4,
			isOff, meterMoney, meterOverdraft, elecFrequency, 
			meter_addr, org_id, meter_type, elec_meter_type, 
			SUBSTR(read_time,1,10) as readTime
		FROM
			v_read_last_elec 
		WHERE meter_addr=#{0} 
		and left(read_time,10) =#{1}
	</select>
	
</mapper>