<!DOCTYPE html>
<html>
<head>
	<head th:replace="public/meta"/>
</head>
<body>
	<div class="t-align-center T-form" T-options="">   
		  <div class="layui-form-item">
		    <label class="layui-form-label">订单号</label>
		    <div class="layui-input-block">
		      <div class="layui-form-mid" T-name="payOrderNo"></div>
		    </div>
		  </div>
		  <div class="layui-form-item">
		    <label class="layui-form-label">金额(元)</label>
		    <div class="layui-input-block">
		      <div class="layui-form-mid" th:text="${order.payment}"></div>
		    </div>
		  </div>
		  
		  <div class="layui-form-item">
		    <div class="layui-inline">
		      <label class="layui-form-label">支付类型</label>
		      <div class="layui-input-inline" th:switch="${order.paymentType}">
		      	<div class="layui-form-mid" th:case="1">支付宝</div>
		      	<div class="layui-form-mid" th:case="2">微信</div>
		      	<div class="layui-form-mid" th:case="3">中国银联</div>
		      </div>
		    </div>
		    <div class="layui-inline">
		      <label class="layui-form-label">支付状态</label>
		      <div class="layui-input-inline" th:switch="${order.status}">
		      	<div class="layui-form-mid" th:case="1">待支付</div>
		      	<div class="layui-form-mid" th:case="2">已取消</div>
		      	<div class="layui-form-mid" th:case="3">已支付</div>
		      	<div class="layui-form-mid" th:case="4">已删除</div>
		      </div>
		    </div>
		  </div>
		   <div class="layui-form-item">
		    <label class="layui-form-label">创建时间</label>
		    <div class="layui-input-block">
		      <div class="layui-form-mid" th:text="${#dates.format(order.createTime, 'yyyy-MM-dd HH:mm:ss')}"></div>
		    </div>
		  </div>
		   <div class="layui-form-item">
		    <label class="layui-form-label">用户手机</label>
		    <div class="layui-input-block">
		      <div class="layui-form-mid" th:text="${order.userPhone}"></div>
		    </div>
		  </div>
		   <div class="layui-form-item">
		    <label class="layui-form-label">用户名</label>
		    <div class="layui-input-block">
		      <div class="layui-form-mid" th:text="${order.buyerNick}"></div>
		    </div>
		  </div>
		  <div class="layui-form-item">
		    <label class="layui-form-label">账户号</label>
		    <div class="layui-input-block">
		      <div class="layui-form-mid" th:text="${order.accountId}">无</div>
		    </div>
		  </div>
	</div>
	
</body>
</html>