<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.tw.saas.serv.mapper.base.InsMapper" >
    <resultMap id="BaseResultMap" type="cn.com.tw.saas.serv.entity.db.base.Ins" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="control_code" property="controlCode" jdbcType="VARCHAR" />
        <result column="data_marker" property="dataMarker" jdbcType="VARCHAR" />
        <result column="soft_version" property="softVersion" jdbcType="VARCHAR" />
        <result column="ins_name" property="insName" jdbcType="VARCHAR" />
        <result column="is_curve" property="isCurve" jdbcType="TINYINT" />
        <result column="param_num" property="paramNum" jdbcType="INTEGER" />
        <result column="return_num" property="returnNum" jdbcType="INTEGER" />
        <result column="format" property="format" jdbcType="VARCHAR" />
        <result column="length" property="length" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, control_code, data_marker, soft_version, ins_name, is_curve, param_num, return_num, 
        format, length
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select 
        <include refid="Base_Column_List" />
        from t_base_ins
        where id = #{id,jdbcType=VARCHAR}
    </select>

    <insert id="insert" parameterType="cn.com.tw.saas.serv.entity.db.base.Ins" >
        insert into t_base_ins (id, control_code, data_marker, 
            soft_version, ins_name, is_curve, 
            param_num, return_num, format, 
            length)
        values (#{id,jdbcType=VARCHAR}, #{controlCode,jdbcType=VARCHAR}, #{dataMarker,jdbcType=VARCHAR}, 
            #{softVersion,jdbcType=VARCHAR}, #{insName,jdbcType=VARCHAR}, #{isCurve,jdbcType=TINYINT}, 
            #{paramNum,jdbcType=INTEGER}, #{returnNum,jdbcType=INTEGER}, #{format,jdbcType=VARCHAR}, 
            #{length,jdbcType=VARCHAR})
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="cn.com.tw.saas.serv.entity.db.base.Ins" >
        update t_base_ins
        <set >
            <if test="controlCode != null" >
                control_code = #{controlCode,jdbcType=VARCHAR},
            </if>
            <if test="dataMarker != null" >
                data_marker = #{dataMarker,jdbcType=VARCHAR},
            </if>
            <if test="softVersion != null" >
                soft_version = #{softVersion,jdbcType=VARCHAR},
            </if>
            <if test="insName != null" >
                ins_name = #{insName,jdbcType=VARCHAR},
            </if>
            <if test="isCurve != null" >
                is_curve = #{isCurve,jdbcType=TINYINT},
            </if>
            <if test="paramNum != null" >
                param_num = #{paramNum,jdbcType=INTEGER},
            </if>
            <if test="returnNum != null" >
                return_num = #{returnNum,jdbcType=INTEGER},
            </if>
            <if test="format != null" >
                format = #{format,jdbcType=VARCHAR},
            </if>
            <if test="length != null" >
                length = #{length,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
        delete from t_base_ins
        where id = #{id,jdbcType=VARCHAR}
    </delete>

</mapper>