
.layui-tab-title{
	background-color: #fff;
}
.layui-tab-brief>.layui-tab-title .layui-this{
	color: #1768d4;
}
.layui-tab-brief>.layui-tab-more li.layui-this:after, .layui-tab-brief>.layui-tab-title .layui-this:after{
	border-bottom: 2px solid #1768d4;
}
.layui-layout-admin .layui-header{
	background-color: #f2f6ff;
}
.layui-layout-admin .layui-logo{
	background-color: #1768d4;
	box-shadow: 0 1px 4px #063b80;
}
.blue-menu,.layui-bg-black{
	background-color: #1768d4!important;
}
.s-name{
	font-size: 24px;
	color: #1768d4;
	line-height: 60px;
	padding-left: 240px;
}
.layui-nav-tree .layui-this>a{
	background-color: #063b80;
}
.layui-nav-tree .layui-nav-child dd.layui-this, .layui-nav-tree .layui-nav-child dd.layui-this a, 
.layui-nav-tree .layui-this, .layui-nav-tree .layui-this>a, .layui-nav-tree .layui-this>a:hover a:hover{
	background-color: #063b80;
}
.layui-nav-tree .layui-nav-item a:hover{
	background-color: #063b80;
}
.menu-word a{
	font-family: "宋体";
	font-size: 14px;
	color: #fff;
}
.menu-word img{
	margin-right: 10px;
	margin-top: -2px;
}
.menu-word .layui-nav-child a{
	padding-left: 46px;
}
.layui-layout-admin .layui-side{
	bottom: 0;
}
.layui-layout-admin .layui-footer{
	left: 160px;
}
/*左侧菜单*/

.s-leftside{
	position: fixed;
	left: 0;
	top: 0;
    width: 200px;
	background-color: #1768d4;
	height: 1080px;
	z-index: 5;
}
.s-title{
	padding: 25px 10px;
}
.deepcolor{
	background-color: #063b80;
}
.s-menu-user img{
	margin-top: -2px;
	margin-left: 30px;
}
.s-menu-user a{
	color: #fff;
    font-size: 16px;
    font-family: "宋体";
    margin-left: 10px;
    line-height: 60px;
}
.s-menu-child dd a{
	color: #e5e5e5;
    line-height: 34px;
    padding-left: 54px;
    font-family: "宋体";
}
.s-menu-child dd a:hover{
	color: #fba74d;
}
.s-menu-con:hover{
	background-color: #063b80;
}
/*顶部条*/
.s-top{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #f2f6ff;
	height: 80px;
	z-index: 4;
}
.s-in-company{
	font-size: 24px;
    color: #1768d4;
    padding-left: 20px;
    line-height: 18px;
    padding-top: 13px;
    letter-spacing: 4px;
}
.s-in-company span{
	font-family: arial;
	font-size: 12px;
	letter-spacing: 0;
}
/*.s-logo{
	margin-left: 200px;
}
.s-logo span{
	font-size: 24px;
	color: #1768d4;
	line-height: 80px;
	padding-left: 20px;
}*/

.btn-login{
	background: url(../images/t_x.png) no-repeat;
	width: 36px;
    height: 36px;
    background-color: #fff;
    border-radius: 18px;
    box-shadow: 0 1px 3px #1768d4;
    margin: 12px 0;
    border: 1px solid #1768d4;
    box-sizing: border-box;
}
.s-exit{
	line-height: 60px;
	font-family: "宋体";
	font-size: 14px;
	margin-left: 20px;
	margin-right: 14px;
}
.s-exit a{
	color: #555;
	padding: 6px;
	border-radius: 2px;
}
.s-exit a:hover{
	color: #fff;
	background-color: #1768d4;
}
.ce-change a{
	padding: 0 6px;
    line-height: 59px;
}
.ce-change a:hover{
	color: #1768d4;
}

/*tab区域*/
.tab-btn{
	position: fixed;
	top: 20px;
	left: 0;
	z-index: 6;
	width: 100%;
}
.tab-btn-left{
	margin-right: 1%;
}
.first-btn{
	margin-left: 1%;
	width: 10%;
	height: 44px;
	background-color: #659df2;
	box-shadow:0 2px 6px #659df2;
}
.first-btn:hover{
	background-color: #1768d4;
}
.first-btn a{
	font-size: 16px;
	line-height: 44px;
	color: #fff;
	display: block;
	text-align: center;
	font-family: "思源黑体";
}
/*.this{
	background-color: #1768d4;
}*/
/*内容区域*/
.s-main{
	top:20px;  
    bottom:0;  
    position:fixed;  
    overflow-y:scroll;  
    overflow-x:hidden; 
	left: 0;
	width: 100%;
}
/*.s-main-left{
	margin-left: 200px;
}*/
/*表单*/
#s-form{
	margin-left: 1%;
	margin-right: 1%;
	width: 98%;
	background-color: #fff;
	padding-bottom: 10px;
	padding-top: 10px;
}
.row-one label{
	width: 7%;
	font-size: 14px;
	font-family: "宋体";
	padding-bottom: 10px;
	padding-top: 10px;
	color: #333;
	margin-left: 1%;
}
.row-one .form-text{
	width: 17%;
	font-size: 14px;
	font-family: "宋体";
	padding-bottom: 10px;
	padding-top: 10px;
	color: #333;
}
.s-select{
	width: 17%;
    font-size: 12px;
    font-family: "宋体";
    height: 30px;
    color: #333;
    margin-top: 3px;
    border-radius: 4px;
    padding-left: 4px;
}
.btn-off{
	width: 60px;
	height: 30px;
	background-color: #34a8ff;
	border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 3px #34a8ff;
    margin-top: -7px;
    margin-left: 20px;
    color: #fff;
    font-size: 14px;
}
.btn-off:hover{
	opacity: 0.9;
}
/*三色表区域*/
.con-purple{
	margin-top: 20px;
	margin-left: 1%;
	width: 32%;
}
.con-purple{
	background-color: #aa8aef;
	box-shadow: 0 2px 6px #aa8aef;
}
.con-orange{
	background-color: #fba74d;
	box-shadow: 0 2px 6px #fba74d;
}
.con-red{
	background-color: #fa6e6f;
	box-shadow: 0 2px 6px #fa6e6f;
}

/*.con-purple h3,.con-purple h4,.con-purple h5,.con-purple h1{
	color: #fff;
	text-align: center;
	font-family: "思源黑体";
}
.con-purple h3{
	font-size: 18px;
	padding-top: 20px;
}
.con-purple h4{
	font-size: 14px;
	padding-top: 8px;
}
.con-purple h1{
	font-size: 36px;
	padding-top: 16px;
    padding-bottom: 16px;
}
.con-purple h5{
	font-size: 14px;
	padding-bottom: 20px;
}*/

.con-purple .con-purple-one,.con-purple .con-purple-two,.con-purple .con-purple-three,.con-purple .con-purple-four{
	color: #fff;
	text-align: center;
	font-family: "思源黑体";
}
.con-purple .con-purple-one{
	font-size: 18px;
	padding-top: 20px;
}
.con-purple .con-purple-two{
	font-size: 14px;
	padding-top: 8px;
}
.con-purple .con-purple-three{
	font-size: 36px;
	padding-top: 16px;
    padding-bottom: 16px;
}
.con-purple .con-purple-four{
	font-size: 14px;
	padding-bottom: 20px;
}
/*三相区域*/
.con-sx{
	margin-left: 1%;
	margin-right: 1%;
	width: 98%;
	background-color: #fff;
	margin-top: 20px;
}
.circle-purple,.circle-orange,.circle-red{
	width: 14px;
	height: 14px;
	border-radius: 7px;
	margin-left: 30px;
	margin-top: 2px;
}
.circle-purple{
	background-color: #aa8aef;
}
.circle-orange{
	background-color: #fba74d;
}
.circle-red{
	background-color: #fa6e6f;
}
.con-sx-time{
	padding-top: 20px;
}
.con-sx-time p{
	font-size: 14px;
	font-family: "思源黑体";
	color: #333;
	margin-left: 1%;
}
.meter-one{
	width: 25%;
}
/*.meter-one h2,.meter-one p{
	font-family: "思源黑体";
	color: #333;
	text-align: center;
}*/
.meter-one h2,.meter-one .meter-one2{
	font-family: "思源黑体";
	color: #333;
	text-align: center;
}
.meter-one h2{
	font-size: 18px;
	padding-top: 30px;
}
/*.meter-one p{
	font-size: 14px;
	padding-bottom: 20px;
}*/
.meter-one .meter-one2{
	font-size: 14px;
	padding-bottom: 20px;
}
.meter-one1{
	width: 154px;
	height: 154px;
	background-color: #b4b4b4;
	margin:20px auto;
}
/*表格*/
.s-table{
	margin-left: 1%;
	margin-right: 1%;
	width: 98%;
	margin-top: 20px;
	margin-bottom: 0;
}
.s-table thead tr{
	background-color: #d3def9;
}
.s-table td,.s-table th{
	border: 0;
    color: #333;
    font-size: 14px;
    font-family: "思源黑体";
}
.s-table th{
	font-weight: bold;
}
.s-table tr:nth-child(even){
	background: #f5f5f5;
}
/*底部样式*/
.bottom-item2{
    width: 98%;
    margin-top: 40px;
    margin-bottom: 10px;
}
.bottom-item2 p{
	color: #333;
	font-family: "宋体";
    text-align: right;
}

/*右侧图标*/
.right-item{
	position: fixed;
	bottom: 20px;
	right: 20px;
    z-index: 999;
}
.con_icon{
	width: 50px;
	height: 50px;
	background-color: rgba(0,0,0,0.6);
	border-radius: 2px;
	margin-bottom: 5px;
}
.con_icon img{
	padding: 5px;
}
.con_icon:hover{
	background-color: #063b80;
}
.this{
	background-color: #063b80;
}
