<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.tw.paas.monit.mapper.org.OrgMapper" >
  <resultMap id="BaseResultMap" type="cn.com.tw.paas.monit.entity.db.org.Org" >
    <id column="org_id" property="orgId" jdbcType="VARCHAR" />
    <result column="org_code" property="orgCode" jdbcType="VARCHAR" />
    <result column="org_name" property="orgName" jdbcType="VARCHAR" />
    <result column="org_status" property="orgStatus" jdbcType="VARCHAR" />
    <result column="org_level" property="orgLevel" jdbcType="INTEGER" />
    <result column="unified_code" property="unifiedCode" jdbcType="VARCHAR" />
    <result column="org_type" property="orgType" jdbcType="VARCHAR" />
    <result column="parent_org_id" property="parentOrgId" jdbcType="VARCHAR"/>
    <result column="org_addr" property="orgAddr" jdbcType="VARCHAR" />
    <result column="org_website" property="orgWebsite" jdbcType="VARCHAR" />
    <result column="org_logo" property="orgLogo" jdbcType="VARCHAR" />
    <result column="is_usable" property="isUsable" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <resultMap id="joinResultMap" type="cn.com.tw.paas.monit.entity.business.org.OrgExpand" extends="BaseResultMap" >
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="qq" property="qq" jdbcType="VARCHAR" />
    <result column="wechat" property="wechat" jdbcType="VARCHAR" />
    <result column="real_name" property="realName" jdbcType="VARCHAR" />
  </resultMap>
  
  
  <sql id="Base_Column_List" >
    org_id, org_code, org_name, org_status, org_level, unified_code, org_type, org_addr, org_website, org_logo,
    is_usable, create_time, update_time,parent_org_id
  </sql>
  
  <select id="selectByPage" resultMap="BaseResultMap" parameterType="cn.com.tw.common.web.entity.page.Page" >
        select 
        <include refid="Base_Column_List" />
        from t_org
        <where>
			<if test="paramObj.orgType != null and paramObj.orgType != ''">
				and org_type = #{paramObj.orgType,jdbcType=VARCHAR}
			</if>
			<if test="paramObj.orgName != null and paramObj.orgName != ''">
				and org_name like CONCAT('%', #{paramObj.orgName,jdbcType=VARCHAR},'%')
			</if>
			<if test="paramObj.orgId != null and paramObj.orgId != ''">
				and org_id = #{paramObj.orgId,jdbcType=VARCHAR}
			</if>
		</where>
  </select>
  
   <select id="selectOrgExpandByPage" resultMap="joinResultMap" parameterType="cn.com.tw.common.web.entity.page.Page" >
        SELECT
			o.org_id,
			o.org_code,
			o.org_name,
			o.org_status,
			o.org_level,
			o.unified_code,
			o.org_type,
			o.org_addr,
			o.org_website, 
			o.org_logo,
			o.is_usable,
			o.create_time,
			o.update_time,
		    u.user_name,
		    u.password,
		    u.phone,
		    u.email,
		    u.qq,
		    u.wechat,
		    u.real_name
		FROM
			t_org o
		LEFT JOIN t_org_user u ON u.org_id = o.org_id
        <where>
			<if test="paramObj.orgType != null and paramObj.orgType != ''">
				and o.org_type = #{paramObj.orgType,jdbcType=VARCHAR}
			</if>
			<if test="paramObj.orgName != null and paramObj.orgName != ''">
				and o.org_name like CONCAT('%', #{paramObj.orgName,jdbcType=VARCHAR},'%')
			</if>
			<if test="paramObj.orgId != null and paramObj.orgId != ''">
				and (o.org_id = #{paramObj.orgId,jdbcType=VARCHAR} OR 
				o.org_id in(select org_id from t_org where parent_org_id = #{paramObj.orgId,jdbcType=VARCHAR})
				)
			</if>
		</where>
  </select>
  
  <select id="selectOrgAll" resultMap="BaseResultMap" parameterType="cn.com.tw.paas.monit.entity.db.org.Org" >
        select 
        <include refid="Base_Column_List" />
        from t_org
        <where>
            <!-- is_usable = 1 -->
			<if test="orgType != null and orgType != ''">
				and org_type = #{orgType,jdbcType=VARCHAR}
			</if>
			<if test="orgName != null and orgName != ''">
				and org_name like CONCAT('%', #{orgName,jdbcType=VARCHAR},'%')
			</if>
			
			<if test="orgId != null and orgId != ''">
				and (org_id = #{orgId,jdbcType=VARCHAR} OR 
				org_id in(select org_id from t_org where parent_org_id = #{orgId,jdbcType=VARCHAR})
				)
			</if>
		</where>
  </select>
  
  <select id="selectOrgCode" resultMap="joinResultMap" parameterType="cn.com.tw.paas.monit.entity.business.org.OrgExpand" >
        select 
        <include refid="Base_Column_List" />
        from t_org
        <where>
            <!-- is_usable = 1 -->
			<if test="orgType != null and orgType != ''">
				and org_type = #{orgType,jdbcType=VARCHAR}
			</if>
			<if test="orgName != null and orgName != ''">
				and org_name like CONCAT('%', #{orgName,jdbcType=VARCHAR},'%')
			</if>
		</where>
		ORDER BY org_code DESC 
		LIMIT 1
  </select>
  
  <select id="selectByOrgName" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select 
        <include refid="Base_Column_List" />
        from t_org
        <where>
			<if test="orgName != null and orgName != ''">
				and org_name = #{orgName,jdbcType=VARCHAR}
			</if>
		</where>
  </select>
  
  
  
  <select id="selectByOrgId" resultMap="joinResultMap" parameterType="java.lang.String" >
    SELECT
			o.org_id,
			o.org_code,
			o.org_name,
			o.org_status,
			o.org_level,
			o.unified_code,
			o.org_type,
			o.org_addr,
			o.org_website, 
			o.org_logo,
			o.is_usable,
			o.create_time,
			o.update_time,
		    u.user_name,
		    u.password,
		    u.phone,
		    u.email,
		    u.qq,
		    u.wechat,
		    u.real_name
		FROM
			t_org o
		LEFT JOIN t_org_user u ON u.org_id = o.org_id
    	where o.org_id = #{orgId,jdbcType=VARCHAR}
  </select>
  
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_org
    where org_id = #{orgId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_org
    where org_id = #{orgId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.com.tw.paas.monit.entity.db.org.Org" >
    insert into t_org (org_id, org_code, org_name, 
      org_status, org_level, unified_code, 
      org_type, org_addr, org_website, org_logo, is_usable,
      create_time, update_time,parent_org_id)
    values (#{orgId,jdbcType=VARCHAR}, #{orgCode,jdbcType=VARCHAR}, #{orgName,jdbcType=VARCHAR}, 
      #{orgStatus,jdbcType=VARCHAR}, #{orgLevel,jdbcType=INTEGER}, #{unifiedCode,jdbcType=VARCHAR}, 
      #{orgType,jdbcType=VARCHAR}, #{orgAddr,jdbcType=VARCHAR}, #{isUsable,jdbcType=TINYINT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP},#{parentOrgId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.com.tw.paas.monit.entity.db.org.Org" >
    insert into t_org
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orgId != null" >
        org_id,
      </if>
      <if test="orgCode != null" >
        org_code,
      </if>
      <if test="orgName != null" >
        org_name,
      </if>
      <if test="orgStatus != null" >
        org_status,
      </if>
      <if test="orgLevel != null" >
        org_level,
      </if>
      <if test="unifiedCode != null" >
        unified_code,
      </if>
      <if test="orgType != null" >
        org_type,
      </if>
      <if test="orgAddr != null" >
        org_addr,
      </if>
      <if test="orgWebsite != null" >
        org_website,
      </if>
      <if test="orgLogo != null" >
        org_logo,
      </if>
      <if test="isUsable != null" >
        is_usable,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="parentOrgId != null" >
        parent_org_id,
      </if>
      
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orgId != null" >
        #{orgId,jdbcType=VARCHAR},
      </if>
      <if test="orgCode != null" >
        #{orgCode,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null" >
        #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="orgStatus != null" >
        #{orgStatus,jdbcType=VARCHAR},
      </if>
      <if test="orgLevel != null" >
        #{orgLevel,jdbcType=INTEGER},
      </if>
      <if test="unifiedCode != null" >
        #{unifiedCode,jdbcType=VARCHAR},
      </if>
      <if test="orgType != null" >
        #{orgType,jdbcType=VARCHAR},
      </if>
      <if test="orgAddr != null" >
        #{orgAddr,jdbcType=VARCHAR},
      </if>
      <if test="orgWebsite != null" >
       	#{orgWebsite,jdbcType=VARCHAR}, 
      </if>
      <if test="orgLogo != null" >
        #{orgLogo,jdbcType=VARCHAR},
      </if>
      <if test="isUsable != null" >
        #{isUsable,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="parentOrgId != null">
      	#{parentOrgId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.tw.paas.monit.entity.db.org.Org" >
    update t_org
    <set >
      <if test="orgCode != null" >
        org_code = #{orgCode,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null" >
        org_name = #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="orgStatus != null" >
        org_status = #{orgStatus,jdbcType=VARCHAR},
      </if>
      <if test="orgLevel != null" >
        org_level = #{orgLevel,jdbcType=INTEGER},
      </if>
      <if test="unifiedCode != null" >
        unified_code = #{unifiedCode,jdbcType=VARCHAR},
      </if>
      <if test="orgType != null" >
        org_type = #{orgType,jdbcType=VARCHAR},
      </if>
      <if test="orgAddr != null" >
        org_addr = #{orgAddr,jdbcType=VARCHAR},
      </if>
      <if test="orgWebsite != null" >
       	org_website = #{orgWebsite,jdbcType=VARCHAR}, 
      </if>
      <if test="orgLogo != null" >
        org_logo = #{orgLogo,jdbcType=VARCHAR},
      </if>
      <if test="isUsable != null" >
        is_usable = #{isUsable,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="parentOrgId != null" >
        parent_org_id = #{parentOrgId,jdbcType=VARCHAR},
      </if>
    </set>
    where org_id = #{orgId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.tw.paas.monit.entity.db.org.Org" >
    update t_org
    set org_code = #{orgCode,jdbcType=VARCHAR},
      org_name = #{orgName,jdbcType=VARCHAR},
      org_status = #{orgStatus,jdbcType=VARCHAR},
      org_level = #{orgLevel,jdbcType=INTEGER},
      unified_code = #{unifiedCode,jdbcType=VARCHAR},
      org_type = #{orgType,jdbcType=VARCHAR},
      org_addr = #{orgAddr,jdbcType=VARCHAR},
  	  org_website = #{orgWebsite,jdbcType=VARCHAR}, 
      org_logo = #{orgLogo,jdbcType=VARCHAR},
      is_usable = #{isUsable,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      parent_org_id = #{parentOrgId,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where org_id = #{orgId,jdbcType=VARCHAR}
  </update>
</mapper>