<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.tw.paas.monit.mapper.org.TerminalEquipMapper" >
  <resultMap id="BaseResultMap" type="cn.com.tw.paas.monit.entity.db.org.TerminalEquip" >
    <id column="equip_id" property="equipId" jdbcType="VARCHAR" />
    <result column="equip_number" property="equipNumber" jdbcType="VARCHAR" />
    <result column="equip_name" property="equipName" jdbcType="VARCHAR" />
    <result column="org_id" property="orgId" jdbcType="VARCHAR" />
    <result column="app_id" property="appId" jdbcType="VARCHAR" />
    <result column="equip_categ_code" property="equipCategCode" jdbcType="VARCHAR" />
    <result column="equip_type_code" property="equipTypeCode" jdbcType="VARCHAR" />
    <result column="model_id" property="modelId" jdbcType="VARCHAR" />
    <result column="soft_versoin" property="softVersoin" jdbcType="VARCHAR" />
    <result column="hardware_versoin" property="hardwareVersoin" jdbcType="VARCHAR" />
    <result column="gather_hz" property="gatherHz" jdbcType="VARCHAR" />
    <result column="comm_pwd" property="commPwd" jdbcType="VARCHAR" />
    <result column="is_direct" property="isDirect" jdbcType="TINYINT" />
    <result column="link_type_code" property="linkTypeCode" jdbcType="VARCHAR" />
    <result column="net_equip_number" property="netEquipNumber" jdbcType="VARCHAR" />
    <result column="net_type_code" property="netTypeCode" jdbcType="VARCHAR" />
    <result column="net_number" property="netNumber" jdbcType="VARCHAR" />
    <result column="elec_meter_type_code" property="elecMeterTypeCode" jdbcType="VARCHAR" />
    <result column="elec_voltage_rating" property="elecVoltageRating" jdbcType="DECIMAL" />
    <result column="elec_current_rating" property="elecCurrentRating" jdbcType="DECIMAL" />
    <result column="elec_power_rating" property="elecPowerRating" jdbcType="DECIMAL" />
    <result column="elec_current_max" property="elecCurrentMax" jdbcType="DECIMAL" />
    <result column="elec_power_max" property="elecPowerMax" jdbcType="DECIMAL" />
    <result column="elec_pt" property="elecPt" jdbcType="DECIMAL" />
    <result column="elec_ct" property="elecCt" jdbcType="DECIMAL" />
    <result column="elec_control_status" property="elecControlStatus" jdbcType="VARCHAR" />
    <result column="is_usable" property="isUsable" jdbcType="TINYINT" />
    <result column="is_history" property="isHistory" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="meter_spec" property="meterSpec" jdbcType="VARCHAR" />
    <result column="model_name" property="modelName" jdbcType="VARCHAR" />
    <result column="baud_rate" property="baudRate" jdbcType="VARCHAR" />
    <result column="callback_url" property="callbackUrl" jdbcType="VARCHAR" />
    <result column="app_key" property="appKey" jdbcType="VARCHAR" />
    <result column="app_name" property="appName" jdbcType="VARCHAR" />
    <result column="org_name" property="orgName" jdbcType="VARCHAR" />
    <result column="operator" property="operator" jdbcType="VARCHAR" />
    <result column="operation_recording_time" property="operationRecordingTime" jdbcType="TIMESTAMP" />
    <result column="source_org_id" property="sourceOrgId" jdbcType="VARCHAR" />
    <result column="source_app_id" property="sourceAppId" jdbcType="VARCHAR" />
    <result column="sectors" property="sectors" jdbcType="INTEGER"/>
    <result column="protocol_type_code" property="protocolType" jdbcType="VARCHAR" />
    <result column="location_id" property="locationId" jdbcType="VARCHAR" />
    <result column="f_user_name" property="fUserName" jdbcType="VARCHAR" />
    <result column="f_phone" property="fPhone" jdbcType="VARCHAR" />
  </resultMap>
  
  
  <resultMap id="joinResultMap" type="cn.com.tw.paas.monit.entity.business.org.TerminalEquipExpand" extends="BaseResultMap" >
    <result column="org_name" property="orgName" jdbcType="VARCHAR" />
    <result column="app_name" property="appName" jdbcType="VARCHAR" />
    <result column="model_name" property="modelName" jdbcType="VARCHAR" />
    <result column="full_name" property="fullName" jdbcType="VARCHAR" />
    <result column="product_name" property="productName" jdbcType="VARCHAR" />
    <result column="is_remote_control" property="isRemoteControl" jdbcType="TINYINT" />
    <result column="is_cost_control" property="isCostControl" jdbcType="TINYINT" />
    <result column="countNum" property="countNum" jdbcType="VARCHAR"/>
    <result column="orgNumber" property="orgNumber" jdbcType="VARCHAR"/>
  </resultMap>
  
  <resultMap id="equipInfoMap" type="HashMap">
  	<result column="equip_id" property="equipId"/>
  	<result column="equip_number" property="equipNumber"/>
  	<result column="equip_name" property="equipName"/>
  	<result column="org_id" property="orgId"/>
  	<result column="app_id" property="appId"/>
  	<result column="equip_categ_code" property="equipCategCode"/>
  	<result column="equip_type_code" property="equipTypeCode"/>
  	<result column="model_id" property="modelId"/>
  	<result column="soft_versoin" property="softVersoin"/>
  	<result column="hardware_versoin" property="hardwareVersoin"/>
  	<result column="gather_hz" property="gatherHz"/>
  	<result column="is_direct" property="isDirect"/>
  	<result column="link_type_code" property="linkTypeCode"/>
  	<result column="net_equip_number" property="netEquipNumber"/>
  	<result column="net_type_code" property="netTypeCode"/>
  	<result column="net_number" property="netNumber"/>
  	<result column="elec_meter_type_code" property="elecMeterTypeCode"/>
  	<result column="elec_voltage_rating" property="elecVoltageRating"/>
  	<result column="elec_current_rating" property="elecCurrentRating"/>
  	<result column="elec_power_rating" property="elecPowerRating"/>
  	<result column="elec_current_max" property="elecCurrentMax"/>
  	<result column="elec_power_max" property="elecPowerMax"/>
  	<result column="elec_pt" property="elecPt"/>
  	<result column="elec_ct" property="elecCt"/>
  	<result column="elec_control_status" property="elec_control_status"/>
  	<result column="is_usable" property="isUsable"/>
  	<result column="is_history" property="isHistory"/>
  	<result column="create_time" property="createTime"/>
  	<result column="update_time" property="updateTime"/>
  	<result column="operator" property="operator"/>
  	<result column="operation_recording_time" property="operationRecordingTime"/>
  	<result column="source_org_id" property="sourceOrgId"/>
  	<result column="source_app_id" property="sourceAppId"/>
  	<result column="sectors" property="sectors"/>
  	<result column="model_name" property="modelName"/>
  	<result column="dict_name" property="dictName"/>
  </resultMap>
  
  <sql id="Base_Column_List" >
    t.equip_id, t.equip_number, t.equip_name, t.org_id, t.app_id, t.equip_categ_code, t.equip_type_code, 
    t.model_id, t.soft_versoin, t.gather_hz, t.comm_pwd, t.is_direct, t.link_type_code, t.net_equip_number, t.net_type_code, 
    t.net_number, t.elec_meter_type_code, t.elec_voltage_rating, t.elec_current_rating, t.elec_power_rating, 
    t.elec_current_max, t.elec_power_max, t.elec_pt, t.elec_ct, t.elec_control_status, t.is_usable, 
    t.is_history, t.create_time, t.update_time, t.operation_recording_time, t.operator, t.source_org_id, t.source_app_id,
   	t.sectors, t.f_user_name, t.f_phone, t.hardware_versoin, t.location_id
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="joinResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />,
    (select org_name from t_org where org_id = t.org_id) org_name,
    (select app_name from t_org_application where app_id = t.app_id) app_name,
    (select model_name from t_base_equip_model where model_id = t.model_id) model_name
    from t_org_terminal_equip t
    where equip_id = #{equipId,jdbcType=VARCHAR}
  </select>
  <select id="selectLikeEquipNumber" resultMap="BaseResultMap" parameterType="map" >
    SELECT
	te.equip_type_code,
	model_name,
	elec_ct,
	elec_pt,
	te.equip_categ_code,
	te.soft_versoin,
	te.elec_meter_type_code,
	te.is_direct, 
	te.net_number,
	em.baud_rate,
	te.equip_number,
	te.net_equip_number,
	te.equip_name,
	te.net_type_code,
	te.gather_hz,
	em.is_remote_control,
	em.is_cost_control,
	CONCAT(
		"Vol:",
		 cast(te.elec_voltage_rating as decimal(9,2)),
		"V",
		",Cur:",
		cast(te.elec_current_rating as decimal(9,2)),
		"(",
		cast(te.elec_current_max as decimal(9,2)),
		")",
		"A"
	) as meter_spec
	FROM
	t_org_terminal_equip te
	LEFT JOIN t_base_equip_model em ON em.model_id = te.model_id
    where te.equip_number like CONCAT(CONCAT( #{equipNumber}), '%')
    LIMIT
    0,#{pages}
  </select>
  <select id="selectByEquipNumber" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />, oa.callback_url, oa.app_key, o.org_name, oa.app_name
    from t_org_terminal_equip t
    left join t_org_application oa on t.app_id = oa.app_id
    left join t_org o on t.org_id = o.org_id
    where equip_number = #{equipNumber,jdbcType=VARCHAR}
  </select>
  <select id="selectSaasTerminalInfo" resultMap="joinResultMap" parameterType="java.lang.String">
   SELECT
	te.equip_type_code,
	model_name,
	elec_ct,
	elec_pt,
	te.equip_categ_code,
	te.soft_versoin,
	te.elec_meter_type_code,
	te.is_direct,
	te.net_number,
	te.net_equip_number,
	em.baud_rate,
	te.equip_number,
	te.net_type_code,
	te.gather_hz,
    em.is_remote_control,
    em.is_cost_control,
	CONCAT(
		"Vol:",
		 cast(te.elec_voltage_rating as decimal(9,2)),
		"V",
		",Cur:",
		cast(te.elec_current_rating as decimal(9,2)),
		"(",
		cast(te.elec_current_max as decimal(9,2)),
		")",
		"A"
	) as meter_spec
	FROM
	t_org_terminal_equip te
	LEFT JOIN t_base_equip_model em ON em.model_id = te.model_id
	where te.equip_number= #{equipNumber,jdbcType=VARCHAR}
  </select>
  <select id="selectByBean" resultMap="joinResultMap" parameterType="cn.com.tw.paas.monit.entity.db.org.TerminalEquip" >
        select 
        <include refid="Base_Column_List" />,
        	m.model_name,
			m.full_name,
			m.product_name,
			m.is_remote_control,
			m.is_cost_control,
			dtu.coordinate coordinate,
			dtu.children_num childrenNum,
			dtu.install_site installSite,
			dtu.install_time installTime,
			dtu.working_mode workingMode,
			dtu.function_digit functionDigit,
			dtu.rf_baud_rate rfBaudRate,
			dtu.beattim beattim,
			dtu.reporting_interval reportingInterval
		FROM
			t_org_terminal_equip t
		LEFT JOIN t_base_equip_model m ON t.model_id = m.model_id
		LEFT JOIN t_org_terminal_equip_param_dtu dtu ON t.equip_number = dtu.equip_number
        <where>
             t.is_usable = 1
            <if test="orgId != null and orgId != ''">
				and t.org_id = #{orgId,jdbcType=VARCHAR}
			</if>
            <if test="appId != null and appId != ''">
				and t.app_id = #{appId,jdbcType=VARCHAR}
			</if>
            <if test="modelId != null and modelId != ''">
				and t.model_id = #{modelId,jdbcType=VARCHAR}
			</if>
			<if test="equipNumber != null and equipNumber != ''">
				and t.equip_number like CONCAT('%', #{equipNumber,jdbcType=VARCHAR},'%')
			</if>
			<if test="equipCategCode != null and equipCategCode != ''">
				and t.equip_categ_code = #{equipCategCode,jdbcType=VARCHAR}
			</if>
			<if test="equipTypeCode != null and equipTypeCode != ''">
				and t.equip_type_code = #{equipTypeCode,jdbcType=VARCHAR}
			</if>
			<if test="isDirect != null ">
				and t.is_direct = #{isDirect,jdbcType=TINYINT}
			</if>
			<if test="netTypeCode != null and netTypeCode != ''">
				and t.net_type_code = #{netTypeCode,jdbcType=VARCHAR}
			</if>
			<if test="netEquipNumber != null and netEquipNumber != ''">
				and t.net_equip_number = #{netEquipNumber,jdbcType=VARCHAR}
			</if>
			<if test="elecMeterTypeCode != null and elecMeterTypeCode != ''">
				and t.elec_meter_type_code = #{elecMeterTypeCode,jdbcType=VARCHAR}
			</if>
			<if test="equipName != null and equipName != ''">
				and t.equip_name like CONCAT('%', #{equipName,jdbcType=VARCHAR},'%')
			</if>
			<if test='sectors != null and sectors != ""' >
				and t.sectors = #{sectors,jdbcType=INTEGER}
			</if>
		</where>
  </select>
  
  <select id="selectCountNum" resultMap="joinResultMap" >
	
		(
			SELECT
				e.equip_type_code,
				COUNT(*) AS countNum,
				'' AS orgNumber
			FROM
				t_org_terminal_equip e
			GROUP BY
				e.equip_type_code
		)
		UNION
			(
				SELECT
					'200000' AS equip_type_code,
					COUNT(*) AS countNum,
				  (SELECT COUNT(*) FROM t_org) AS orgNumber
				FROM
					t_org_net_equip
			)
  </select>
  
  <select id="selectNetTypeNumber" resultMap="joinResultMap" >
		SELECT
			COUNT(*) AS countNum,
		    net_type_code
		FROM
			t_org_terminal_equip
		GROUP BY net_type_code
		UNION
		SELECT
			COUNT(*) AS countNum,
			'333' AS net_type_code
		FROM
			t_org_net_equip
  </select>
  
  <select id="selectByPage" resultMap="BaseResultMap" parameterType="cn.com.tw.common.web.entity.page.Page" >
		SELECT
			<include refid="Base_Column_List" />,
			bem.model_name model_name
		FROM
			t_org_terminal_equip t
		LEFT JOIN
			t_base_equip_model bem
		ON
			t.model_id = bem.model_id
        <where>
        	1=1
			<if test="paramObj.equipName != null and paramObj.equipName != ''">
				and t.equip_name like CONCAT('%', #{paramObj.equipName,jdbcType=VARCHAR},'%')
			</if>
			<if test="paramObj.equipNumber != null and paramObj.equipNumber != ''">
				and t.equip_number like CONCAT('%', #{paramObj.equipNumber,jdbcType=VARCHAR},'%')
			</if>
			<if test="paramObj.equipCategCode != null and paramObj.equipCategCode != ''">
				and t.equip_categ_code = #{paramObj.equipCategCode,jdbcType=VARCHAR}
			</if>
			<if test="paramObj.equipTypeCode != null and paramObj.equipTypeCode != ''">
				and t.equip_type_code = #{paramObj.equipTypeCode,jdbcType=VARCHAR}
			</if>
			<if test="paramObj.orgId != null and paramObj.orgId != ''">
				and t.org_id = #{paramObj.orgId,jdbcType=VARCHAR}
			</if>
			<if test="paramObj.appId != null and paramObj.appId != ''">
				and t.app_id = #{paramObj.appId,jdbcType=VARCHAR}
			</if>
			<if test='paramObj.search != null and paramObj.search !=""'>
				and (t.equip_name like CONCAT('%', #{paramObj.search,jdbcType=VARCHAR},'%') 
				or  t.equip_number like CONCAT('%', #{paramObj.search,jdbcType=VARCHAR},'%'))
			</if>
			<if test='paramObj.isDirect != null and paramObj.isDirect != ""'>
				and t.is_direct = #{paramObj.isDirect,jdbcType=TINYINT}
			</if>
			<if test="paramObj.elecMeterTypeCode != null and paramObj.elecMeterTypeCode != ''">
				and t.elec_meter_type_code = #{paramObj.elecMeterTypeCode,jdbcType=VARCHAR}
			</if>
			<if test="paramObj.netNumber != null and paramObj.netNumber != ''">
				and t.net_number = #{paramObj.netNumber,jdbcType=VARCHAR}
			</if>
			<if test='paramObj.isFilter != null and paramObj.isFilter != ""'>
				AND t.net_equip_number IS NULL
				AND t.net_type_code IS NULL
				AND (t.net_number IS NULL OR t.net_number = "")
			</if>
			<if test="paramObj.netTypeCode != null and paramObj.netTypeCode != ''">
				and t.net_type_code = #{paramObj.netTypeCode,jdbcType=VARCHAR}
			</if>
			<if test="paramObj.netEquipNumber != null and paramObj.netEquipNumber != ''">
				and t.net_equip_number = #{paramObj.netEquipNumber,jdbcType=VARCHAR}
			</if>
			<if test='paramObj.sectors != null and paramObj.sectors != ""' >
				and t.sectors = #{paramObj.sectors,jdbcType=INTEGER}
			</if>
		</where>
		ORDER BY t.create_time DESC
  </select>
  
  
  <select id="selectTerminalAll" resultMap="BaseResultMap" parameterType="cn.com.tw.paas.monit.entity.db.org.TerminalEquip" >
        SELECT
			<include refid="Base_Column_List" />
		FROM
			t_org_terminal_equip t
        <where>
			<if test="equipName != null and equipName != ''">
				and t.equip_name like CONCAT('%', #{equipName,jdbcType=VARCHAR},'%')
			</if>
			<if test="equipNumber != null and equipNumber !=''">  
				and t.equip_number like CONCAT('%', #{equipNumber,jdbcType=VARCHAR},'%')
			</if>
			<if test="equipCategCode != null and equipCategCode != ''">
				and t.equip_categ_code = #{equipCategCode,jdbcType=VARCHAR}
			</if>
			<if test="equipTypeCode != null and equipTypeCode != ''">
				and t.equip_type_code = #{equipTypeCode,jdbcType=VARCHAR}
			</if>
			<if test="orgId != null and orgId != ''">
				and t.org_id = #{orgId,jdbcType=VARCHAR}
			</if>
			<if test="appId != null and appId != ''">
				and t.app_id = #{appId,jdbcType=VARCHAR}
			</if>
			<if test="modelId != null and modelId != ''">
				and t.model_id = #{modelId,jdbcType=VARCHAR}
			</if>
		</where>
		ORDER BY t.create_time DESC
  </select>
  
  <select id="selectByAppkey" resultMap="BaseResultMap" parameterType="java.util.Map" >
        SELECT
			<include refid="Base_Column_List" />
		FROM
			t_org_terminal_equip t
        <where>
        t.equip_number = #{equipNumber,jdbcType=VARCHAR}
        and t.app_id in (select app_id from t_org_application where app_key = #{appKey,jdbcType=VARCHAR})
		</where>
		ORDER BY t.create_time DESC
  </select>
  
  <select id="selectByAppIdAndMeterAddr" resultMap="BaseResultMap" parameterType="java.util.Map" >
        SELECT
			<include refid="Base_Column_List" />
		FROM
			t_org_terminal_equip t
        <where>
        t.equip_number = #{equipNumber,jdbcType=VARCHAR}
        and t.app_id = #{appId,jdbcType=VARCHAR}
		</where>
  </select>
  
  <select id="selectByOrgIdAndMeterAddr" resultMap="BaseResultMap" parameterType="java.util.Map" >
        SELECT
			<include refid="Base_Column_List" />,
			(select protocol_type_code from t_base_equip_model where model_id = t.model_id) protocol_type_code
		FROM
			t_org_terminal_equip t
        <where>
        t.equip_number = #{equipNumber,jdbcType=VARCHAR}
        and t.org_id = #{orgId,jdbcType=VARCHAR}
		</where>
  </select>
  
  <select id="selectTerminalForApi" resultMap="BaseResultMap" parameterType="cn.com.tw.paas.monit.entity.db.org.TerminalEquip" >
    select 
    <include refid="Base_Column_List" />
    from t_org_terminal_equip t
   	where
	app_id = #{appId,jdbcType=VARCHAR}
  </select>  
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_org_terminal_equip
    where equip_id = #{equipId,jdbcType=VARCHAR}
  </delete>
  
  <insert id="insert" parameterType="cn.com.tw.paas.monit.entity.db.org.TerminalEquip" >
    insert into t_org_terminal_equip (equip_id, equip_number, equip_name, 
      org_id, app_id, equip_categ_code, 
      equip_type_code, model_id, soft_versoin, gather_hz,
      comm_pwd, is_direct, link_type_code, 
      net_equip_number, net_type_code, net_number, 
      elec_meter_type_code, elec_voltage_rating, elec_current_rating, 
      elec_power_rating, elec_current_max, elec_power_max, 
      elec_pt, elec_ct, elec_control_status, 
      is_usable, is_history, create_time, update_time, sectors,
      f_user_name, f_phone, hardware_versoin, location_id
      )
    values (#{equipId,jdbcType=VARCHAR}, #{equipNumber,jdbcType=VARCHAR}, #{equipName,jdbcType=VARCHAR}, 
      #{orgId,jdbcType=VARCHAR}, #{appId,jdbcType=VARCHAR}, #{equipCategCode,jdbcType=VARCHAR}, 
      #{equipTypeCode,jdbcType=VARCHAR}, #{modelId,jdbcType=VARCHAR}, #{softVersoin,jdbcType=VARCHAR}, #{gatherHz,jdbcType=VARCHAR},
      #{commPwd,jdbcType=VARCHAR}, #{isDirect,jdbcType=TINYINT}, #{linkTypeCode,jdbcType=VARCHAR}, 
      #{netEquipNumber,jdbcType=VARCHAR}, #{netTypeCode,jdbcType=VARCHAR}, #{netNumber,jdbcType=VARCHAR}, 
      #{elecMeterTypeCode,jdbcType=VARCHAR}, #{elecVoltageRating,jdbcType=DECIMAL}, #{elecCurrentRating,jdbcType=DECIMAL}, 
      #{elecPowerRating,jdbcType=DECIMAL}, #{elecCurrentMax,jdbcType=DECIMAL}, #{elecPowerMax,jdbcType=DECIMAL}, 
      #{elecPt,jdbcType=DECIMAL}, #{elecCt,jdbcType=DECIMAL}, #{elecControlStatus,jdbcType=VARCHAR}, 
      #{isUsable,jdbcType=TINYINT}, #{isHistory,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{sectors,jdbcType=INTEGER}
      #{fUserName,jdbcType=VARCHAR}, #{fPhone,jdbcType=VARCHAR}, #{hardwareVersoin,jdbcType=VARCHAR}, #{locationId,jdbcType=VARCHAR})
      
  </insert>
  <insert id="insertSelective" parameterType="cn.com.tw.paas.monit.entity.db.org.TerminalEquip" >
    insert into t_org_terminal_equip
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="equipId != null" >
        equip_id,
      </if>
      <if test="equipNumber != null" >
        equip_number,
      </if>
      <if test="equipName != null" >
        equip_name,
      </if>
      <if test="orgId != null" >
        org_id,
      </if>
      <if test="appId != null" >
        app_id,
      </if>
      <if test="equipCategCode != null" >
        equip_categ_code,
      </if>
      <if test="equipTypeCode != null" >
        equip_type_code,
      </if>
      <if test="modelId != null" >
        model_id,
      </if>
      <if test="softVersoin != null" >
        soft_versoin,
      </if>
      <if test="gatherHz != null" >
        gather_hz,
      </if>
      <if test="commPwd != null" >
        comm_pwd,
      </if>
      <if test="isDirect != null" >
        is_direct,
      </if>
      <if test="linkTypeCode != null" >
        link_type_code,
      </if>
      <if test="netEquipNumber != null" >
        net_equip_number,
      </if>
      <if test="netTypeCode != null" >
        net_type_code,
      </if>
      <if test="netNumber != null" >
        net_number,
      </if>
      <if test="elecMeterTypeCode != null" >
        elec_meter_type_code,
      </if>
      <if test="elecVoltageRating != null" >
        elec_voltage_rating,
      </if>
      <if test="elecCurrentRating != null" >
        elec_current_rating,
      </if>
      <if test="elecPowerRating != null" >
        elec_power_rating,
      </if>
      <if test="elecCurrentMax != null" >
        elec_current_max,
      </if>
      <if test="elecPowerMax != null" >
        elec_power_max,
      </if>
      <if test="elecPt != null" >
        elec_pt,
      </if>
      <if test="elecCt != null" >
        elec_ct,
      </if>
      <if test="elecControlStatus != null" >
        elec_control_status,
      </if>
      <if test="isUsable != null" >
        is_usable,
      </if>
      <if test="isHistory != null" >
        is_history,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="sectors != null" >
        sectors,
      </if>
      <if test="fUserName != null" >
        f_user_name,
      </if>
      <if test="fPhone != null" >
        f_phone,
      </if>
      <if test="hardwareVersoin != null">
      	hardware_versoin,
      </if>
      <if test="locationId != null">
      	location_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="equipId != null" >
        #{equipId,jdbcType=VARCHAR},
      </if>
      <if test="equipNumber != null" >
        #{equipNumber,jdbcType=VARCHAR},
      </if>
      <if test="equipName != null" >
        #{equipName,jdbcType=VARCHAR},
      </if>
      <if test="orgId != null" >
        #{orgId,jdbcType=VARCHAR},
      </if>
      <if test="appId != null" >
        #{appId,jdbcType=VARCHAR},
      </if>
      <if test="equipCategCode != null" >
        #{equipCategCode,jdbcType=VARCHAR},
      </if>
      <if test="equipTypeCode != null" >
        #{equipTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="modelId != null" >
        #{modelId,jdbcType=VARCHAR},
      </if>
      <if test="softVersoin != null" >
        #{softVersoin,jdbcType=VARCHAR},
      </if>
      <if test="gatherHz != null" >
        #{gatherHz,jdbcType=VARCHAR},
      </if>
      <if test="commPwd != null" >
        #{commPwd,jdbcType=VARCHAR},
      </if>
      <if test="isDirect != null" >
        #{isDirect,jdbcType=TINYINT},
      </if>
      <if test="linkTypeCode != null" >
        #{linkTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="netEquipNumber != null" >
        #{netEquipNumber,jdbcType=VARCHAR},
      </if>
      <if test="netTypeCode != null" >
        #{netTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="netNumber != null" >
        #{netNumber,jdbcType=VARCHAR},
      </if>
      <if test="elecMeterTypeCode != null" >
        #{elecMeterTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="elecVoltageRating != null" >
        #{elecVoltageRating,jdbcType=DECIMAL},
      </if>
      <if test="elecCurrentRating != null" >
        #{elecCurrentRating,jdbcType=DECIMAL},
      </if>
      <if test="elecPowerRating != null" >
        #{elecPowerRating,jdbcType=DECIMAL},
      </if>
      <if test="elecCurrentMax != null" >
        #{elecCurrentMax,jdbcType=DECIMAL},
      </if>
      <if test="elecPowerMax != null" >
        #{elecPowerMax,jdbcType=DECIMAL},
      </if>
      <if test="elecPt != null" >
        #{elecPt,jdbcType=DECIMAL},
      </if>
      <if test="elecCt != null" >
        #{elecCt,jdbcType=DECIMAL},
      </if>
      <if test="elecControlStatus != null" >
        #{elecControlStatus,jdbcType=VARCHAR},
      </if>
      <if test="isUsable != null" >
        #{isUsable,jdbcType=TINYINT},
      </if>
      <if test="isHistory != null" >
        #{isHistory,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sectors != null" >
        #{sectors,jdbcType=INTEGER},
      </if>
      <if test="fUserName != null" >
        #{fUserName,jdbcType=VARCHAR},
      </if>
      <if test="fPhone != null" >
        #{fPhone,jdbcType=VARCHAR},
      </if>
      <if test="hardwareVersoin != null">
      	#{hardwareVersoin,jdbcType=VARCHAR},
      </if>
      <if test="locationId != null">
      	#{locationId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.tw.paas.monit.entity.db.org.TerminalEquip" >
    update t_org_terminal_equip
    <set >
      <if test="equipNumber != null" >
        equip_number = #{equipNumber,jdbcType=VARCHAR},
      </if>
      <if test="equipName != null" >
        equip_name = #{equipName,jdbcType=VARCHAR},
      </if>
      <if test="orgId != null" >
        org_id = #{orgId,jdbcType=VARCHAR},
      </if>
      <if test="appId != null" >
        app_id = #{appId,jdbcType=VARCHAR},
      </if>
      <if test="equipCategCode != null" >
        equip_categ_code = #{equipCategCode,jdbcType=VARCHAR},
      </if>
      <if test="equipTypeCode != null" >
        equip_type_code = #{equipTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="modelId != null" >
        model_id = #{modelId,jdbcType=VARCHAR},
      </if>
      <if test="softVersoin != null" >
        soft_versoin = #{softVersoin,jdbcType=VARCHAR},
      </if>
      <if test="gatherHz != null" >
        gather_hz = #{gatherHz,jdbcType=VARCHAR},
      </if>
      <if test="commPwd != null" >
        comm_pwd = #{commPwd,jdbcType=VARCHAR},
      </if>
      <if test="isDirect != null" >
        is_direct = #{isDirect,jdbcType=TINYINT},
      </if>
      <if test="linkTypeCode != null" >
        link_type_code = #{linkTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="netEquipNumber != null" >
        net_equip_number = #{netEquipNumber,jdbcType=VARCHAR},
      </if>
      <if test="netTypeCode != null" >
        net_type_code = #{netTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="netNumber != null" >
        net_number = #{netNumber,jdbcType=VARCHAR},
      </if>
      <if test="elecMeterTypeCode != null" >
        elec_meter_type_code = #{elecMeterTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="elecVoltageRating != null" >
        elec_voltage_rating = #{elecVoltageRating,jdbcType=DECIMAL},
      </if>
      <if test="elecCurrentRating != null" >
        elec_current_rating = #{elecCurrentRating,jdbcType=DECIMAL},
      </if>
      <if test="elecPowerRating != null" >
        elec_power_rating = #{elecPowerRating,jdbcType=DECIMAL},
      </if>
      <if test="elecCurrentMax != null" >
        elec_current_max = #{elecCurrentMax,jdbcType=DECIMAL},
      </if>
      <if test="elecPowerMax != null" >
        elec_power_max = #{elecPowerMax,jdbcType=DECIMAL},
      </if>
      <if test="elecPt != null" >
        elec_pt = #{elecPt,jdbcType=DECIMAL},
      </if>
      <if test="elecCt != null" >
        elec_ct = #{elecCt,jdbcType=DECIMAL},
      </if>
      <if test="elecControlStatus != null" >
        elec_control_status = #{elecControlStatus,jdbcType=VARCHAR},
      </if>
      <if test="isUsable != null" >
        is_usable = #{isUsable,jdbcType=TINYINT},
      </if>
      <if test="isHistory != null" >
        is_history = #{isHistory,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operator != null" >
        operator = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="sourceOrgId != null" >
        source_org_id = #{sourceOrgId,jdbcType=VARCHAR},
      </if>
      <if test="sourceAppId != null" >
        source_app_id = #{sourceAppId,jdbcType=VARCHAR},
      </if>
      <if test="operationRecordingTime != null" >
        operation_recording_time = #{operationRecordingTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sectors != null" >
        sectors = #{sectors,jdbcType=INTEGER},
      </if>
      <if test="fUserName != null" >
        f_user_name = #{fUserName,jdbcType=VARCHAR},
      </if>
      <if test="fPhone != null" >
        f_phone = #{fPhone,jdbcType=VARCHAR},
      </if>
      <if test="hardwareVersoin != null">
      	hardware_versoin = #{hardwareVersoin,jdbcType=VARCHAR},
      </if>
      <if test="locationId != null">
      	locationId = #{locationId,jdbcType=VARCHAR},
      </if>
    </set>
    where equip_id = #{equipId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.tw.paas.monit.entity.db.org.TerminalEquip" >
    update t_org_terminal_equip
    set equip_number = #{equipNumber,jdbcType=VARCHAR},
      equip_name = #{equipName,jdbcType=VARCHAR},
      org_id = #{orgId,jdbcType=VARCHAR},
      app_id = #{appId,jdbcType=VARCHAR},
      equip_categ_code = #{equipCategCode,jdbcType=VARCHAR},
      equip_type_code = #{equipTypeCode,jdbcType=VARCHAR},
      model_id = #{modelId,jdbcType=VARCHAR},
      soft_versoin = #{softVersoin,jdbcType=VARCHAR},
      gather_hz = #{gatherHz,jdbcType=VARCHAR},
      comm_pwd = #{commPwd,jdbcType=VARCHAR},
      is_direct = #{isDirect,jdbcType=TINYINT},
      link_type_code = #{linkTypeCode,jdbcType=VARCHAR},
      net_equip_number = #{netEquipNumber,jdbcType=VARCHAR},
      net_type_code = #{netTypeCode,jdbcType=VARCHAR},
      net_number = #{netNumber,jdbcType=VARCHAR},
      elec_meter_type_code = #{elecMeterTypeCode,jdbcType=VARCHAR},
      elec_voltage_rating = #{elecVoltageRating,jdbcType=DECIMAL},
      elec_current_rating = #{elecCurrentRating,jdbcType=DECIMAL},
      elec_power_rating = #{elecPowerRating,jdbcType=DECIMAL},
      elec_current_max = #{elecCurrentMax,jdbcType=DECIMAL},
      elec_power_max = #{elecPowerMax,jdbcType=DECIMAL},
      elec_pt = #{elecPt,jdbcType=DECIMAL},
      elec_ct = #{elecCt,jdbcType=DECIMAL},
      elec_control_status = #{elecControlStatus,jdbcType=VARCHAR},
      is_usable = #{isUsable,jdbcType=TINYINT},
      is_history = #{isHistory,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      operator = #{operator,jdbcType=VARCHAR},
      source_org_id = #{sourceOrgId,jdbcType=VARCHAR},
      source_app_id = #{sourceAppId,jdbcType=VARCHAR},
      operation_recording_time = #{operationRecordingTime,jdbcType=TIMESTAMP},
      sectors = #{sectors,jdbcType=INTEGER},
      operation_recording_time = #{operationRecordingTime,jdbcType=TIMESTAMP},
      sectors = #{sectors,jdbcType=INTEGER},
      f_user_name = #{fUserName,jdbcType=VARCHAR},
      f_phone = #{fPhone,jdbcType=VARCHAR},
      hardware_versoin = #{hardwareVersoin,jdbcType=VARCHAR},
	  locationId = #{locationId,jdbcType=VARCHAR}
    where equip_id = #{equipId,jdbcType=VARCHAR}
  </update>
  
   <select id="selectByNetEquipNumber" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_org_terminal_equip t
    where net_equip_number = #{netEquipNumber,jdbcType=VARCHAR}
  </select>
  
  <select id="selectByNetEquipNumberAndSectors" resultMap="BaseResultMap" parameterType="java.lang.String" >
		SELECT
			sectors,
			COUNT(sectors) sectorsSum
		FROM
			t_org_terminal_equip
		WHERE
			net_equip_number = #{netEquipNumber,jdbcType=VARCHAR}
		GROUP BY
			net_equip_number, sectors
  </select>
  
  <update id="updateByEquipNumber" parameterType="cn.com.tw.paas.monit.entity.db.org.TerminalEquip">
  		 update t_org_terminal_equip
		    <set >
		      <if test="equipName != null" >
		        equip_name = #{equipName,jdbcType=VARCHAR},
		      </if>
		      <if test="orgId != null" >
		        org_id = #{orgId,jdbcType=VARCHAR},
		      </if>
		      <if test="appId != null" >
		        app_id = #{appId,jdbcType=VARCHAR},
		      </if>
		      <if test="equipCategCode != null" >
		        equip_categ_code = #{equipCategCode,jdbcType=VARCHAR},
		      </if>
		      <if test="equipTypeCode != null" >
		        equip_type_code = #{equipTypeCode,jdbcType=VARCHAR},
		      </if>
		      <if test="modelId != null" >
		        model_id = #{modelId,jdbcType=VARCHAR},
		      </if>
		      <if test="softVersoin != null" >
		        soft_versoin = #{softVersoin,jdbcType=VARCHAR},
		      </if>
		      <if test="hardwareVersoin != null">
		      	hardware_versoin = #{hardwareVersoin,jdbcType=VARCHAR},
		      </if>
		      <if test="gatherHz != null" >
		        gather_hz = #{gatherHz,jdbcType=VARCHAR},
		      </if>
		      <if test="commPwd != null" >
		        comm_pwd = #{commPwd,jdbcType=VARCHAR},
		      </if>
		      <if test="isDirect != null" >
		        is_direct = #{isDirect,jdbcType=TINYINT},
		      </if>
		      <if test="linkTypeCode != null" >
		        link_type_code = #{linkTypeCode,jdbcType=VARCHAR},
		      </if>
		      <if test="locationId != null">
		      	locationId = #{locationId,jdbcType=VARCHAR},
		      </if>
		      	sectors = #{sectors,jdbcType=INTEGER},
		        net_equip_number = #{netEquipNumber,jdbcType=VARCHAR},
		        net_type_code = #{netTypeCode,jdbcType=VARCHAR},
		        net_number = #{netNumber,jdbcType=VARCHAR}
		    </set>
		    where equip_number = #{equipNumber,jdbcType=VARCHAR}
  </update>
  
  <select id="selectMeterByPlant" resultMap="BaseResultMap" parameterType="cn.com.tw.common.web.entity.page.Page" >
		SELECT
			<include refid="Base_Column_List" />
		FROM
			t_org_terminal_equip t
		<where>
			1=1
			<if test='paramObj.orgId != null and paramObj.orgId != ""' >
		    	and t.org_id = #{paramObj.orgId,jdbcType=VARCHAR}
		    </if>
		    <if test='paramObj.appId != null and paramObj.appId != ""' >
		    	and t.app_id = #{paramObj.appId,jdbcType=VARCHAR}
		    </if>
		</where>
  </select>
  
  <select id="selectSaasTerminalInfoByEntity" resultMap="joinResultMap" parameterType="cn.com.tw.paas.monit.entity.db.org.TerminalEquip">
  		SELECT
			te.equip_type_code,
			model_name,
			elec_ct,
			elec_pt,
			te.equip_categ_code,
			te.soft_versoin,
			te.elec_meter_type_code,
			te.is_direct,
			te.net_number,
			te.net_equip_number,
			em.baud_rate,
			te.equip_number,
			te.net_type_code,
			te.gather_hz,
		    em.is_remote_control,
		    em.is_cost_control,
			CONCAT(
				"Vol:",
				 cast(te.elec_voltage_rating as decimal(9,2)),
				"V",
				",Cur:",
				cast(te.elec_current_rating as decimal(9,2)),
				"(",
				cast(te.elec_current_max as decimal(9,2)),
				")",
				"A"
			) as meter_spec
			FROM
			t_org_terminal_equip te
			LEFT JOIN t_base_equip_model em ON em.model_id = te.model_id
			where te.equip_number= #{equipNumber,jdbcType=VARCHAR}
			AND te.app_id = #{appId,jdbcType=VARCHAR}
  </select>
  
  <select id="selectMeterTotalNum" resultType="java.lang.Integer" parameterType="java.lang.String" >
  		SELECT
			COUNT(*)
		FROM
			t_org_terminal_equip
		where org_id = #{orgId,jdbcType=VARCHAR}
  </select>
  
  <select id="selectEquipList" resultMap="BaseResultMap" parameterType="cn.com.tw.paas.monit.entity.db.org.TerminalEquip">
  	SELECT
		equip_number,
		equip_name
	FROM
		`t_org_terminal_equip`
	WHERE
		equip_name like CONCAT('%',CONCAT(#{equipName,jdbcType=VARCHAR},'%'))
	AND equip_type_code='150000'
	AND org_id= #{orgId,jdbcType=VARCHAR}
	ORDER BY
		equip_name
	LIMIT 0,
 	20
  </select>
  
   <select id="selectInfoByEquipNumber" resultMap="equipInfoMap" parameterType="java.lang.String">
	    SELECT
			e.*,
			m.model_name,
			d.dict_name AS factory
		FROM
			t_org_terminal_equip e
		LEFT JOIN t_base_equip_model m ON e.model_id = m.model_id
		LEFT JOIN t_sys_dict d on m.factory = d.dict_code
		WHERE e.equip_number=#{equipNumber,jdbcType=VARCHAR}
  </select>
  
  <select id="selectDaasByPage"  resultMap="BaseResultMap" parameterType="cn.com.tw.common.web.entity.page.Page">
  		SELECT
  			<include refid="Base_Column_List" />,
			tdte.children_equip_number childrenEquipNumber,
			tdte.manufacturer manufacturer,
			tdte.equip_model equipModel,
			tdte.equip_type equipType,
			dtu.coordinate coordinate,
			dtu.children_num childrenNum,
			dtu.install_site installSite,
			dtu.install_time installTime,
			dtu.working_mode workingMode,
			dtu.function_digit functionDigit,
			dtu.rf_baud_rate rfBaudRate,
			dtu.beattim beattim,
			dtu.reporting_interval reportingInterval
		FROM
			t_org_terminal_equip t
		LEFT JOIN t_org_terminal_equip_children tdte ON t.equip_id = tdte.dtu_id
		LEFT JOIN t_org_terminal_equip_param_dtu dtu ON t.equip_number = dtu.equip_number
		WHERE
			t.org_id = #{paramObj.orgId,jdbcType=VARCHAR}
		<if test='paramObj.appId != null and paramObj.appId != ""'>
			and t.app_id = #{paramObj.appId,jdbcType=VARCHAR}
		</if>
		<if test='paramObj.childrenEquipNumber != null and paramObj.childrenEquipNumber != ""'>
			and tdte.children_equip_number like CONCAT('%', #{paramObj.childrenEquipNumber,jdbcType=VARCHAR},'%')
		</if>
		<if test='paramObj.manufacturer != null and paramObj.manufacturer != ""'>
			and tdte.manufacturer like CONCAT('%', #{paramObj.manufacturer,jdbcType=VARCHAR},'%')
		</if>
		<if test='paramObj.equipModel != null and paramObj.equipModel != ""'>
			and tdte.equip_model like CONCAT('%', #{paramObj.equipModel,jdbcType=VARCHAR},'%')
		</if>
		<if test="paramObj.equipName != null and paramObj.equipName != ''">
			and t.equip_name like CONCAT('%', #{paramObj.equipName,jdbcType=VARCHAR},'%')
		</if>
		<if test="paramObj.equipNumber != null and paramObj.equipNumber != ''">
			and t.equip_number like CONCAT('%', #{paramObj.equipNumber,jdbcType=VARCHAR},'%')
		</if>
  </select>
  
  <select id="selectDaasByEquipNumber" resultMap="BaseResultMap" parameterType="java.lang.String">
		SELECT
			t.equip_id,
			t.equip_number,
			t.equip_name,
			t.org_id,
			t.app_id,
			t.equip_categ_code,
			t.equip_type_code,
			t.model_id,
			t.soft_versoin,
			t.gather_hz,
			t.is_direct,
			t.net_number,
			t.is_usable,
			t.is_history,
			t.create_time,
			t.update_time,
			t.f_user_name,
			t.f_phone,
			t.hardware_versoin,
			dtu.coordinate coordinate,
			dtu.children_num childrenNum,
			dtu.install_site installSite,
			dtu.install_time installTime,
			dtu.working_mode workingMode,
			dtu.function_digit functionDigit,
			dtu.rf_baud_rate rfBaudRate,
			dtu.beattim beattim,
			dtu.reporting_interval reportingInterval,
			m.model_name modelName
		FROM
			t_org_terminal_equip t
		LEFT JOIN t_org_terminal_equip_param_dtu dtu ON t.equip_number = dtu.equip_number
		LEFT JOIN t_base_equip_model m ON t.model_id = m.model_id
		WHERE
			t.equip_number = #{equipNumber,jdbcType=VARCHAR}
  </select>
  
  <select id="selectDtuByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
  		SELECT
  			<include refid="Base_Column_List" />,
			dtu.coordinate coordinate,
			dtu.children_num childrenNum,
			dtu.install_site installSite,
			dtu.install_time installTime,
			dtu.working_mode workingMode,
			dtu.function_digit functionDigit,
			dtu.rf_baud_rate rfBaudRate,
			dtu.beattim beattim,
			dtu.reporting_interval reportingInterval,
			m.model_name modelName
		FROM
			t_org_terminal_equip t
		LEFT JOIN t_org_terminal_equip_param_dtu dtu ON t.equip_number = dtu.equip_number
		LEFT JOIN t_base_equip_model m ON t.model_id = m.model_id
		WHERE
			t.equip_id = #{equipId,jdbcType=VARCHAR}
  </select>
  
  <select id="selectDtuAndChildrenByPage" resultMap="BaseResultMap" parameterType="cn.com.tw.common.web.entity.page.Page">
  		SELECT
  			<include refid="Base_Column_List" />,
			dtu.coordinate coordinate,
			dtu.children_num childrenNum,
			dtu.install_site installSite,
			dtu.install_time installTime,
			dtu.working_mode workingMode,
			dtu.function_digit functionDigit,
			dtu.rf_baud_rate rfBaudRate,
			dtu.beattim beattim,
			dtu.reporting_interval reportingInterval
		FROM
			t_org_terminal_equip t
		LEFT JOIN t_org_terminal_equip_param_dtu dtu ON t.equip_number = dtu.equip_number
		WHERE
			t.org_id = #{paramObj.orgId,jdbcType=VARCHAR}
		<if test='paramObj.appId != null and paramObj.appId != ""'>
			and t.app_id = #{paramObj.appId,jdbcType=VARCHAR}
		</if>
		<!-- <if test='paramObj.childrenEquipNumber != null and paramObj.childrenEquipNumber != ""'>
			and tdte.children_equip_number like CONCAT('%', #{paramObj.childrenEquipNumber,jdbcType=VARCHAR},'%')
		</if>
		<if test='paramObj.manufacturer != null and paramObj.manufacturer != ""'>
			and tdte.manufacturer like CONCAT('%', #{paramObj.manufacturer,jdbcType=VARCHAR},'%')
		</if>
		<if test='paramObj.equipModel != null and paramObj.equipModel != ""'>
			and tdte.equip_model like CONCAT('%', #{paramObj.equipModel,jdbcType=VARCHAR},'%')
		</if> -->
		<if test="paramObj.equipName != null and paramObj.equipName != ''">
			and t.equip_name like CONCAT('%', #{paramObj.equipName,jdbcType=VARCHAR},'%')
		</if>
		<if test="paramObj.equipNumber != null and paramObj.equipNumber != ''">
			and t.equip_number like CONCAT('%', #{paramObj.equipNumber,jdbcType=VARCHAR},'%')
		</if>
  </select>
</mapper>