<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.tw.paas.monit.mapper.command.BaseCmdEXEMapper" >
  <resultMap id="BaseResultMap" type="cn.com.tw.paas.monit.entity.db.command.BaseCmdEXE" >
    <id column="cmd_id" property="cmdId" jdbcType="VARCHAR" />
    <result column="org_id" property="orgId" jdbcType="VARCHAR" />
    <result column="meter_id" property="meterId" jdbcType="VARCHAR" />
    <result column="meter_addr" property="meterAddr" jdbcType="VARCHAR" />
    <result column="cmd_code" property="cmdCode" jdbcType="VARCHAR" />
    <result column="task_id" property="taskId" jdbcType="VARCHAR" />
    <result column="cmd_name" property="cmdName" jdbcType="VARCHAR" />
    <result column="cmd_level" property="cmdLevel" jdbcType="VARCHAR" />
    <result column="use_time" property="useTime" jdbcType="INTEGER" />
    <result column="param" property="param" jdbcType="VARCHAR" />
    <result column="reason" property="reason" jdbcType="VARCHAR" />
    <result column="return_value" property="returnValue" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="org_name" property="orgName" jdbcType="VARCHAR" />
    <result column="success" property="success" jdbcType="INTEGER" />
    <result column="fail" property="fail" jdbcType="INTEGER" />
    <result column="timeout" property="timeout" jdbcType="INTEGER" />
    <result column="total_avg" property="totalAvg" jdbcType="INTEGER" />
    <result column="code_total" property="codeTotal" jdbcType="INTEGER" />
    <result column="cmd_objid" property="cmdObjid" jdbcType="VARCHAR" />
    <result column="cmd_table" property="cmdTable" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    cmd_id, org_id, meter_id, meter_addr, cmd_code, task_id, cmd_name, cmd_level, use_time, 
    param, reason, return_value, status, create_time, update_time, cmd_objid, cmd_table
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_base_cmd_exe
    where cmd_id = #{cmdId,jdbcType=VARCHAR}
  </select>
  
  <select id="selectAll" resultMap="BaseResultMap" parameterType="cn.com.tw.paas.monit.entity.db.command.BaseCmdEXE" >
        select 
        <include refid="Base_Column_List" />
        from t_base_cmd_exe
        <where>
			<if test="cmdId != null and cmdId != ''">
				and cmd_id = #{cmdId,jdbcType=VARCHAR}
			</if>
		</where>
  </select>
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_base_cmd_exe
    where cmd_id = #{cmdId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.com.tw.paas.monit.entity.db.command.BaseCmdEXE" >
    insert into t_base_cmd_exe (cmd_id, org_id, meter_id, 
      meter_addr, cmd_code, task_id, 
      cmd_name, cmd_level, use_time, 
      param, reason, return_value, 
      status, create_time, update_time, cmd_objid, cmd_table
      )
    values (#{cmdId,jdbcType=VARCHAR}, #{orgId,jdbcType=VARCHAR}, #{meterId,jdbcType=VARCHAR}, 
      #{meterAddr,jdbcType=VARCHAR}, #{cmdCode,jdbcType=VARCHAR}, #{taskId,jdbcType=VARCHAR}, 
      #{cmdName,jdbcType=VARCHAR}, #{cmdLevel,jdbcType=VARCHAR}, #{useTime,jdbcType=INTEGER}, 
      #{param,jdbcType=VARCHAR}, #{reason,jdbcType=VARCHAR}, #{returnValue,jdbcType=VARCHAR}, 
      #{status,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP},
      #{cmdObjid,jdbcType=VARCHAR}, #{cmdTable,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.com.tw.paas.monit.entity.db.command.BaseCmdEXE" >
    insert into t_base_cmd_exe
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cmdId != null" >
        cmd_id,
      </if>
      <if test="orgId != null" >
        org_id,
      </if>
      <if test="meterId != null" >
        meter_id,
      </if>
      <if test="meterAddr != null" >
        meter_addr,
      </if>
      <if test="cmdCode != null" >
        cmd_code,
      </if>
      <if test="taskId != null" >
        task_id,
      </if>
      <if test="cmdName != null" >
        cmd_name,
      </if>
      <if test="cmdLevel != null" >
        cmd_level,
      </if>
      <if test="useTime != null" >
        use_time,
      </if>
      <if test="param != null" >
        param,
      </if>
      <if test="reason != null" >
        reason,
      </if>
      <if test="returnValue != null" >
        return_value,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="cmdObjid != null" >
        cmd_objid, 
      </if>
      <if test="cmdTable != null" >
        cmd_table,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cmdId != null" >
        #{cmdId,jdbcType=VARCHAR},
      </if>
      <if test="orgId != null" >
        #{orgId,jdbcType=VARCHAR},
      </if>
      <if test="meterId != null" >
        #{meterId,jdbcType=VARCHAR},
      </if>
      <if test="meterAddr != null" >
        #{meterAddr,jdbcType=VARCHAR},
      </if>
      <if test="cmdCode != null" >
        #{cmdCode,jdbcType=VARCHAR},
      </if>
      <if test="taskId != null" >
        #{taskId,jdbcType=VARCHAR},
      </if>
      <if test="cmdName != null" >
        #{cmdName,jdbcType=VARCHAR},
      </if>
      <if test="cmdLevel != null" >
        #{cmdLevel,jdbcType=VARCHAR},
      </if>
      <if test="useTime != null" >
        #{useTime,jdbcType=INTEGER},
      </if>
      <if test="param != null" >
        #{param,jdbcType=VARCHAR},
      </if>
      <if test="reason != null" >
        #{reason,jdbcType=VARCHAR},
      </if>
      <if test="returnValue != null" >
        #{returnValue,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cmdObjid != null" >
        #{cmdObjid,jdbcType=VARCHAR}, 
      </if>
      <if test="cmdTable != null" >
        #{cmdTable,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.tw.paas.monit.entity.db.command.BaseCmdEXE" >
    update t_base_cmd_exe
    <set >
      <if test="orgId != null" >
        org_id = #{orgId,jdbcType=VARCHAR},
      </if>
      <if test="meterId != null" >
        meter_id = #{meterId,jdbcType=VARCHAR},
      </if>
      <if test="meterAddr != null" >
        meter_addr = #{meterAddr,jdbcType=VARCHAR},
      </if>
      <if test="cmdCode != null" >
        cmd_code = #{cmdCode,jdbcType=VARCHAR},
      </if>
      <if test="taskId != null" >
        task_id = #{taskId,jdbcType=VARCHAR},
      </if>
      <if test="cmdName != null" >
        cmd_name = #{cmdName,jdbcType=VARCHAR},
      </if>
      <if test="cmdLevel != null" >
        cmd_level = #{cmdLevel,jdbcType=VARCHAR},
      </if>
      <if test="useTime != null" >
        use_time = #{useTime,jdbcType=INTEGER},
      </if>
      <if test="param != null" >
        param = #{param,jdbcType=VARCHAR},
      </if>
      <if test="reason != null" >
        reason = #{reason,jdbcType=VARCHAR},
      </if>
      <if test="returnValue != null" >
        return_value = #{returnValue,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cmdObjid != null" >
       cmd_objid = #{cmdObjid,jdbcType=VARCHAR}, 
      </if>
      <if test="cmdTable != null" >
        cmd_table = #{cmdTable,jdbcType=VARCHAR},
      </if>
    </set>
    where cmd_id = #{cmdId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.tw.paas.monit.entity.db.command.BaseCmdEXE" >
    update t_base_cmd_exe
    set org_id = #{orgId,jdbcType=VARCHAR},
      meter_id = #{meterId,jdbcType=VARCHAR},
      meter_addr = #{meterAddr,jdbcType=VARCHAR},
      cmd_code = #{cmdCode,jdbcType=VARCHAR},
      task_id = #{taskId,jdbcType=VARCHAR},
      cmd_name = #{cmdName,jdbcType=VARCHAR},
      cmd_level = #{cmdLevel,jdbcType=VARCHAR},
      use_time = #{useTime,jdbcType=INTEGER},
      param = #{param,jdbcType=VARCHAR},
      reason = #{reason,jdbcType=VARCHAR},
      return_value = #{returnValue,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      cmd_objid = #{cmdObjid,jdbcType=VARCHAR},
      cmd_table = #{cmdTable,jdbcType=VARCHAR}
    where cmd_id = #{cmdId,jdbcType=VARCHAR}
  </update>
  
    <select id="selectByPage" resultMap="BaseResultMap" parameterType="cn.com.tw.common.web.entity.page.Page" >
       <if test="paramObj.type != 2 or paramObj.type ==null and paramObj.type ==''">
	        SELECT
	        	cmd_id cmd_id,
				meter_id meter_id,
			  	meter_addr meter_addr,
				cmd_name cmd_name,
				cmd_code cmd_code,
				use_time use_time,
				param param,
				status status,
				return_value return_value,
				reason reason
			FROM
				t_base_cmd_exe
			<where>
				<if test="paramObj.meterId != null and paramObj.meterId != ''">
					meter_id like CONCAT('%',#{paramObj.meterId,jdbcType=VARCHAR},'%') 
				</if>
				<if test="paramObj.meterAddr != null and paramObj.meterAddr != ''">
					meter_addr like CONCAT('%',#{paramObj.meterAddr,jdbcType=VARCHAR},'%') 
				</if>
				<if test="paramObj.cmdCode != null and paramObj.cmdCode != ''">
					cmd_code = #{paramObj.cmdCode,jdbcType=VARCHAR}
				</if>
				<if test="paramObj.cmdName != null and paramObj.cmdName != ''">
					cmd_name like CONCAT('%',#{paramObj.cmdName,jdbcType=VARCHAR},'%') 
				</if>
			</where>
		</if>
			<if test="paramObj.type == 0 ">
				UNION
			</if>
			<if test="paramObj.type == null and paramObj.type == '' or paramObj.type != 1">
			SELECT
				inn_id cmd_id,
				meter_id meter_id,
				meter_addr meter_addr,
				data_name cmd_name,
				cmd_code cmd_code,
				use_time use_time,
				param param,
				status status,
				return_value return_value,
				reason reason
			FROM
				t_base_inn_exe
			<where>
				<if test="paramObj.meterId != null and paramObj.meterId != ''">
					meter_id = #{paramObj.meterId,jdbcType=VARCHAR}
				</if>
				<if test="paramObj.meterAddr != null and paramObj.meterAddr != ''">
					meter_addr = #{paramObj.meterAddr,jdbcType=VARCHAR}
				</if>
				<if test="paramObj.cmdCode != null and paramObj.cmdCode != ''">
					cmd_code = #{paramObj.cmdCode,jdbcType=VARCHAR}
				</if>
				<if test="paramObj.cmdName != null and paramObj.cmdName != ''">
					data_name like CONCAT('%',#{paramObj.cmdName,jdbcType=VARCHAR},'%') 
				</if>
			</where>
		</if>
  </select>
  
  <select id="selectCmdByStatus" resultMap="BaseResultMap" parameterType="java.lang.String">
		SELECT  
			sum(CASE WHEN cmd.`status` = 1 THEN 1 ELSE 0 END) success,
			sum(CASE WHEN cmd.`status` = 2 THEN 1 ELSE 0 END) fail,
			sum(CASE WHEN cmd.`status` = 3 THEN 1 ELSE 0 END) timeout,
			count(cmd_code) code_total
		FROM
			t_base_cmd_exe cmd
		<where>
				cmd.meter_id = #{meterId,jdbcType=VARCHAR}
		</where>
  </select>
  
  <select id="selectAvgByMeterId" resultMap="BaseResultMap" parameterType="java.lang.String">
		  		SELECT
					a.meter_id,
					a.cmd_name cmd_name,
					FORMAT(s_avg/1000,2) successAvg,
					FORMAT(f_avg/1000,2) failAvg,
					FORMAT(t_avg/1000,2) timeoutAvg
					FROM
					(SELECT
						cmd_code,
						meter_id,
						cmd_name,
						AVG(use_time) s_avg
					FROM
						t_base_cmd_exe
					WHERE
						`status` = '1'
					GROUP BY
						cmd_name
					) a
					left JOIN
					(SELECT
						meter_id,
						cmd_name,
						AVG(use_time) f_avg
					FROM
						t_base_cmd_exe
					WHERE
						`status` = '2'
					GROUP BY
						cmd_name
					) b
					ON a.meter_id = b.meter_id 
					LEFT JOIN
					(SELECT
						meter_id,
						cmd_name,
						AVG(use_time) t_avg
					FROM
						t_base_cmd_exe
					WHERE
						`status` = '3'
					GROUP BY
						cmd_name
					) c
					ON b.meter_id = c.meter_id
					where
						a.meter_id = #{meterId,jdbcType=VARCHAR}
  </select>
  
  <select id="selectStatusByCode" resultMap="BaseResultMap" parameterType="java.lang.String">
  		SELECT
			a.cmd_name,
			a.cmd_code,
			sum(CASE WHEN a.`status` = 1 THEN 1 ELSE 0 END) success,
			sum(CASE WHEN a.`status` = 2 THEN 1 ELSE 0 END) fail,
			sum(CASE WHEN a.`status` = 3 THEN 1 ELSE 0 END) timeout
		FROM
			t_base_cmd_exe a
		WHERE
				cmd_name = #{cmdName,jdbcType=VARCHAR}
		GROUP BY
			a.cmd_name
  </select>
  </mapper>