<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.tw.saas.serv.mapper.loadShedding.RuleElecOnTimeUsualMapper">
	<resultMap id="BaseResultMap" type="cn.com.tw.saas.serv.entity.loadShedding.RuleElecOnTimeUsual">
		<id column="rule_id" jdbcType="VARCHAR" property="ruleId" />
		<result column="org_id" jdbcType="VARCHAR" property="orgId" />
		<result column="day_of_week" jdbcType="INTEGER" property="dayOfWeek" />
		<result column="on_time" jdbcType="VARCHAR" property="onTime" />
		<result column="off_time" jdbcType="VARCHAR" property="offTime" />
		<result column="switchs" jdbcType="VARCHAR" property="switchs" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
	</resultMap>
	<sql id="Base_Column_List">
		rule_id, org_id, day_of_week, on_time, off_time, switchs, create_time,
		update_time
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_saas_rule_elec_on_time_usual
		where rule_id = #{ruleId,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from t_saas_rule_elec_on_time_usual
		where rule_id = #{ruleId,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="cn.com.tw.saas.serv.entity.loadShedding.RuleElecOnTimeUsual">
		insert into t_saas_rule_elec_on_time_usual (rule_id, org_id, day_of_week,
		on_time, off_time, switchs,
		create_time, update_time)
		values (uuid_short(), #{orgId,jdbcType=VARCHAR},
		#{dayOfWeek,jdbcType=INTEGER},
		#{onTime,jdbcType=VARCHAR}, #{offTime,jdbcType=VARCHAR}, #{switchs,jdbcType=VARCHAR},
		#{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
	</insert>
	<insert id="insertSelective" parameterType="cn.com.tw.saas.serv.entity.loadShedding.RuleElecOnTimeUsual">
		insert into t_saas_rule_elec_on_time_usual
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="ruleId != null">
				rule_id,
			</if>
			<if test="orgId != null">
				org_id,
			</if>
			<if test="dayOfWeek != null">
				day_of_week,
			</if>
			<if test="onTime != null">
				on_time,
			</if>
			<if test="offTime != null">
				off_time,
			</if>
			<if test="switchs != null">
				switchs,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="ruleId != null">
				uuid_short(),
			</if>
			<if test="orgId != null">
				#{orgId,jdbcType=VARCHAR},
			</if>
			<if test="dayOfWeek != null">
				#{dayOfWeek,jdbcType=INTEGER},
			</if>
			<if test="onTime != null">
				#{onTime,jdbcType=VARCHAR},
			</if>
			<if test="offTime != null">
				#{offTime,jdbcType=VARCHAR},
			</if>
			<if test="switchs != null">
				#{switchs,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="cn.com.tw.saas.serv.entity.loadShedding.RuleElecOnTimeUsual">
		update t_saas_rule_elec_on_time_usual
		<set>
			<if test="orgId != null">
				org_id = #{orgId,jdbcType=VARCHAR},
			</if>
			<if test="dayOfWeek != null">
				day_of_week = #{dayOfWeek,jdbcType=INTEGER},
			</if>
			<if test="onTime != null">
				on_time = #{onTime,jdbcType=VARCHAR},
			</if>
			<if test="offTime != null">
				off_time = #{offTime,jdbcType=VARCHAR},
			</if>
			<if test="switchs != null">
				switchs = #{switchs,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where rule_id = #{ruleId,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="cn.com.tw.saas.serv.entity.loadShedding.RuleElecOnTimeUsual">
		update t_saas_rule_elec_on_time_usual
		set org_id = #{orgId,jdbcType=VARCHAR},
		day_of_week = #{dayOfWeek,jdbcType=INTEGER},
		on_time = #{onTime,jdbcType=VARCHAR},
		off_time = #{offTime,jdbcType=VARCHAR},
		switchs = #{switchs,jdbcType=VARCHAR},
		create_time = #{createTime,jdbcType=TIMESTAMP},
		update_time = #{updateTime,jdbcType=TIMESTAMP}
		where rule_id = #{ruleId,jdbcType=VARCHAR}
	</update>

	<insert id="replace" parameterType="cn.com.tw.saas.serv.entity.loadShedding.RuleElecOnTimeUsual">
		replace into t_saas_rule_elec_on_time_usual (rule_id, org_id, day_of_week,
		on_time, off_time, switchs,
		create_time, update_time)
		values (uuid_short(), #{orgId,jdbcType=VARCHAR},
		#{dayOfWeek,jdbcType=INTEGER},
		#{onTime,jdbcType=VARCHAR}, #{offTime,jdbcType=VARCHAR}, #{switchs,jdbcType=VARCHAR},
		#{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
	</insert>
	
	<select id="selectByAll" parameterType="cn.com.tw.saas.serv.entity.loadShedding.RuleElecOnTimeUsual" resultMap="BaseResultMap">
		select
			<include refid="Base_Column_List" />
		from t_saas_rule_elec_on_time_usual
		where
			org_id = #{orgId,jdbcType=VARCHAR}
	</select>
	
	<select id="selectByScreeningCondition" parameterType="cn.com.tw.saas.serv.entity.loadShedding.RuleElecOnTimeUsual" resultMap="BaseResultMap">
		select
			<include refid="Base_Column_List" />
		from t_saas_rule_elec_on_time_usual
		where
			org_id = #{orgId,jdbcType=VARCHAR}
			<if test="ruleId != null">
				and rule_id = #{ruleId,jdbcType=INTEGER}
			</if>
			<if test="dayOfWeek != null">
				and day_of_week = #{dayOfWeek,jdbcType=INTEGER}
			</if>
			<if test="onTime != null">
				and on_time = #{onTime,jdbcType=VARCHAR}
			</if>
			<if test="offTime != null">
				and off_time = #{offTime,jdbcType=VARCHAR}
			</if>
			<if test="switchs != null">
				and switchs = #{switchs,jdbcType=VARCHAR}
			</if>
	</select>
	
	<select id="selectByScreeningConditionToAll" parameterType="cn.com.tw.saas.serv.entity.loadShedding.RuleElecOnTimeUsual" resultMap="BaseResultMap">
		select
			<include refid="Base_Column_List" />
		from t_saas_rule_elec_on_time_usual
		where
			1=1
			<if test="ruleId != null">
				and rule_id = #{ruleId,jdbcType=INTEGER}
			</if>
			<if test="dayOfWeek != null">
				and day_of_week = #{dayOfWeek,jdbcType=INTEGER}
			</if>
			<if test="onTime != null">
				and on_time = #{onTime,jdbcType=VARCHAR}
			</if>
			<if test="offTime != null">
				and off_time = #{offTime,jdbcType=VARCHAR}
			</if>
			<if test="switchs != null">
				and switchs = #{switchs,jdbcType=VARCHAR}
			</if>
	</select>
</mapper>