<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="cn.com.tw.saas.serv.mapper.loadShedding.RuleElecOnTimeUnusualMapper">
	<resultMap id="BaseResultMap" type="cn.com.tw.saas.serv.entity.loadShedding.RuleElecOnTimeUnusual">
		<id column="rule_id" jdbcType="VARCHAR" property="ruleId" />
		<result column="org_id" jdbcType="VARCHAR" property="orgId" />
		<result column="start_day" jdbcType="DATE" property="startDay" />
		<result column="end_day" jdbcType="DATE" property="endDay" />
		<result column="on_time" jdbcType="VARCHAR" property="onTime" />
		<result column="off_time" jdbcType="VARCHAR" property="offTime" />
		<result column="switchs" jdbcType="VARCHAR" property="switchs" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
	</resultMap>
	<sql id="Base_Column_List">
		rule_id, org_id, start_day, end_day, on_time, off_time,
		switchs, create_time,
		update_time
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
			<include refid="Base_Column_List" />
		from 
			t_saas_rule_elec_on_time_unusual
		where 
			rule_id = #{ruleId,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from
		t_saas_rule_elec_on_time_unusual
		where rule_id =
		#{ruleId,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="cn.com.tw.saas.serv.entity.loadShedding.RuleElecOnTimeUnusual">
		insert into t_saas_rule_elec_on_time_unusual (rule_id,
		org_id, start_day,
		end_day, on_time, off_time,
		switchs, create_time,
		update_time
		)
		values (#{ruleId,jdbcType=VARCHAR},
		#{orgId,jdbcType=VARCHAR},
		#{startDay,jdbcType=DATE},
		#{endDay,jdbcType=DATE}, #{onTime,jdbcType=VARCHAR},
		#{offTime,jdbcType=VARCHAR},
		#{switchs,jdbcType=VARCHAR},
		#{createTime,jdbcType=TIMESTAMP},
		#{updateTime,jdbcType=TIMESTAMP}
		)
	</insert>
	<insert id="insertSelective" parameterType="cn.com.tw.saas.serv.entity.loadShedding.RuleElecOnTimeUnusual">
		insert into t_saas_rule_elec_on_time_unusual
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="ruleId != null">
				rule_id,
			</if>
			<if test="orgId != null">
				org_id,
			</if>
			<if test="startDay != null">
				start_day,
			</if>
			<if test="endDay != null">
				end_day,
			</if>
			<if test="onTime != null">
				on_time,
			</if>
			<if test="offTime != null">
				off_time,
			</if>
			<if test="switchs != null">
				switchs,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="ruleId != null">
				#{ruleId,jdbcType=VARCHAR},
			</if>
			<if test="orgId != null">
				#{orgId,jdbcType=VARCHAR},
			</if>
			<if test="startDay != null">
				#{startDay,jdbcType=DATE},
			</if>
			<if test="endDay != null">
				#{endDay,jdbcType=DATE},
			</if>
			<if test="onTime != null">
				#{onTime,jdbcType=VARCHAR},
			</if>
			<if test="offTime != null">
				#{offTime,jdbcType=VARCHAR},
			</if>
			<if test="switchs != null">
				#{switchs,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="cn.com.tw.saas.serv.entity.loadShedding.RuleElecOnTimeUnusual">
		update t_saas_rule_elec_on_time_unusual
		<set>
			<if test="orgId != null">
				org_id = #{orgId,jdbcType=VARCHAR},
			</if>
			<if test="startDay != null">
				start_day = #{startDay,jdbcType=DATE},
			</if>
			<if test="endDay != null">
				end_day = #{endDay,jdbcType=DATE},
			</if>
			<if test="onTime != null">
				on_time = #{onTime,jdbcType=VARCHAR},
			</if>
			<if test="offTime != null">
				off_time = #{offTime,jdbcType=VARCHAR},
			</if>
			<if test="switchs != null">
				switchs = #{switchs,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where rule_id = #{ruleId,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="cn.com.tw.saas.serv.entity.loadShedding.RuleElecOnTimeUnusual">
		update t_saas_rule_elec_on_time_unusual
			set org_id = #{orgId,jdbcType=VARCHAR},
			start_day = #{startDay,jdbcType=DATE},
			end_day = #{endDay,jdbcType=DATE},
			on_time =
			#{onTime,jdbcType=VARCHAR},
			off_time = #{offTime,jdbcType=VARCHAR},
			switchs = #{switchs,jdbcType=VARCHAR},
			create_time = #{createTime,jdbcType=TIMESTAMP},
			update_time = #{updateTime,jdbcType=TIMESTAMP}
		where 
			rule_id = #{ruleId,jdbcType=VARCHAR}
	</update>

	<select id="selectByStartAndEndTime" parameterType="cn.com.tw.saas.serv.entity.loadShedding.RuleElecOnTimeUnusual" resultMap="BaseResultMap">
		SELECT
			<include refid="Base_Column_List" />
		FROM
			t_saas_rule_elec_on_time_unusual
		WHERE
			org_id = #{orgId,jdbcType=VARCHAR}
			<if test="endDay != null">
				AND	start_day &lt;= #{endDay,jdbcType=DATE}
			</if>
			<if test="startDay != null">
				AND start_day &gt;= #{startDay,jdbcType=DATE}
			</if>
			<if test="timeNow != null">
				AND start_day = #{timeNow,jdbcType=DATE}
			</if>	
	</select>
	
	<select id="selectByStartAndEndTimeToAll" parameterType="cn.com.tw.saas.serv.entity.loadShedding.RuleElecOnTimeUnusual" resultMap="BaseResultMap">
		SELECT
			<include refid="Base_Column_List" />
		FROM
			t_saas_rule_elec_on_time_unusual
		WHERE
			1=1
			<if test="endDay != null">
				AND	start_day &lt;= #{endDay,jdbcType=DATE}
			</if>
			<if test="startDay != null">
				AND start_day &gt;= #{startDay,jdbcType=DATE}
			</if>
			<if test="timeNow != null">
				AND start_day = #{timeNow,jdbcType=DATE}
			</if>	
	</select>
	
	<insert id="replace" parameterType="cn.com.tw.saas.serv.entity.loadShedding.RuleElecOnTimeUnusual">
		replace into 
			t_saas_rule_elec_on_time_unusual (
				rule_id,
				org_id, 
				start_day,
				end_day,
				on_time, 
				off_time,
				switchs,
				create_time,
				update_time
			)
		values (
			uuid_short(),
			#{orgId,jdbcType=VARCHAR},
			#{startDay,jdbcType=DATE},
			#{endDay,jdbcType=DATE}, 
			#{onTime,jdbcType=VARCHAR},
			#{offTime,jdbcType=VARCHAR},
			#{switchs,jdbcType=VARCHAR},
			#{createTime,jdbcType=TIMESTAMP},
			#{updateTime,jdbcType=TIMESTAMP}
		)
	</insert>
</mapper>