<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.tw.saas.serv.mapper.org.OrgMapper" >
  <resultMap id="BaseResultMap" type="cn.com.tw.saas.serv.entity.org.Org" >
    <id column="org_id" property="orgId" jdbcType="VARCHAR" />
    <result column="org_code" property="orgCode" jdbcType="VARCHAR" />
    <result column="org_name" property="orgName" jdbcType="VARCHAR" />
    <result column="org_status" property="orgStatus" jdbcType="VARCHAR" />
    <result column="org_level" property="orgLevel" jdbcType="INTEGER" />
    <result column="unified_code" property="unifiedCode" jdbcType="VARCHAR" />
    <result column="parent_org_id" property="parentOrgId" jdbcType="VARCHAR" />
    <result column="org_type" property="orgType" jdbcType="VARCHAR" />
    <result column="org_addr" property="orgAddr" jdbcType="VARCHAR" />
    <result column="org_website" property="orgWebsite" jdbcType="VARCHAR" />
    <result column="org_logo" property="orgLogo" jdbcType="VARCHAR" />
    <result column="is_usable" property="isUsable" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="balance" property="balance" jdbcType="DECIMAL" />
    
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="user_real_name" property="userRealName" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="manaUser" property="manaUser" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    org_id, org_code, org_name, org_status, org_level, unified_code, parent_org_id, org_type, 
    org_addr, org_website, org_logo, is_usable, create_time, update_time, balance
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_saas_org
    where org_id = #{orgId,jdbcType=VARCHAR}
  </select>
  
  <select id="selectByUserId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    	SELECT
			o.org_id,
		    o.org_code,
		    o.org_name,
		    o.org_status,
		    o.org_website,
		    u.user_id,
		    u.user_name,
		    u.user_real_name,
		    u.email,
		    u.mobile,
		    (SELECT m.user_name FROM t_saas_mana_user m WHERE m.user_id = substring(o.org_id,1,3)) AS manaUser
		FROM
			t_saas_org o
		LEFT JOIN t_saas_org_user u ON u.org_id = o.org_id
		WHERE u.user_role = 'admin' and u.user_id = #{userId,jdbcType=VARCHAR}
  </select>
  
  
  <select id="selectByPage" resultMap="BaseResultMap" parameterType="cn.com.tw.common.web.entity.page.Page">
	    SELECT
			o.org_id,
		    o.org_code,
		    o.org_name,
		    o.org_status,
		    o.org_website,
		    u.user_id,
		    u.user_name,
		    u.user_real_name,
		    u.email,
		    u.mobile
		FROM
			t_saas_org o
		LEFT JOIN t_saas_org_user u ON u.org_id = o.org_id
		WHERE u.user_role = 'admin'
    	  <if test="paramObj.orgId != null" >
	        and o.org_id = #{paramObj.orgId,jdbcType=VARCHAR}
	      </if>
	      <if test="paramObj.userName != null and paramObj.userName != '' " >
	        and u.user_name  like concat ('%',#{paramObj.userName,jdbcType=VARCHAR},'%')
	      </if>
	      <if test="paramObj.mobile != null and paramObj.mobile != ''" >
	        and u.mobile = #{paramObj.mobile,jdbcType=VARCHAR}
	      </if>
	      <if test="paramObj.email != null and paramObj.email != ''" >
	        and u.email = #{paramObj.email,jdbcType=VARCHAR}
	      </if>
	      <if test="paramObj.orgName != null and paramObj.orgName != ''" >
	        and o.org_name like concat ('%',#{paramObj.orgName,jdbcType=VARCHAR},'%')
	      </if>
	      <if test="paramObj.orgStatus != null and paramObj.orgStatus != ''" >
	        and o.org_status = #{paramObj.orgStatus,jdbcType=VARCHAR}
	      </if>
		ORDER BY o.create_time DESC
  </select>
  
  <select id="selectMaxOrgCode" resultMap="BaseResultMap" parameterType="java.lang.String" >
    SELECT
		<include refid="Base_Column_List" />
	FROM
		t_saas_org o
	WHERE o.org_code = (SELECT MAX(org_code) FROM t_saas_org)
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_saas_org
    where org_id = #{orgId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.com.tw.saas.serv.entity.org.Org" >
    insert into t_saas_org (org_id, org_code, org_name, 
      org_status, org_level, unified_code, 
      parent_org_id, org_type, org_addr, 
      org_website, org_logo, is_usable, 
      create_time, update_time, balance)
    values (#{orgId,jdbcType=VARCHAR}, #{orgCode,jdbcType=VARCHAR}, #{orgName,jdbcType=VARCHAR}, 
      #{orgStatus,jdbcType=VARCHAR}, #{orgLevel,jdbcType=INTEGER}, #{unifiedCode,jdbcType=VARCHAR}, 
      #{parentOrgId,jdbcType=VARCHAR}, #{orgType,jdbcType=VARCHAR}, #{orgAddr,jdbcType=VARCHAR}, 
      #{orgWebsite,jdbcType=VARCHAR}, #{orgLogo,jdbcType=VARCHAR}, #{isUsable,jdbcType=TINYINT}, 
      now(), now(), #{balance,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="cn.com.tw.saas.serv.entity.org.Org" >
    insert into t_saas_org
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orgId != null" >
        org_id,
      </if>
      <if test="orgCode != null" >
        org_code,
      </if>
      <if test="orgName != null" >
        org_name,
      </if>
      <if test="orgStatus != null" >
        org_status,
      </if>
      <if test="orgLevel != null" >
        org_level,
      </if>
      <if test="unifiedCode != null" >
        unified_code,
      </if>
      <if test="parentOrgId != null" >
        parent_org_id,
      </if>
      <if test="orgType != null" >
        org_type,
      </if>
      <if test="orgAddr != null" >
        org_addr,
      </if>
      <if test="orgWebsite != null" >
        org_website,
      </if>
      <if test="orgLogo != null" >
        org_logo,
      </if>
      <if test="isUsable != null" >
        is_usable,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="balance != null" >
        balance,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orgId != null" >
        #{orgId,jdbcType=VARCHAR},
      </if>
      <if test="orgCode != null" >
        #{orgCode,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null" >
        #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="orgStatus != null" >
        #{orgStatus,jdbcType=VARCHAR},
      </if>
      <if test="orgLevel != null" >
        #{orgLevel,jdbcType=INTEGER},
      </if>
      <if test="unifiedCode != null" >
        #{unifiedCode,jdbcType=VARCHAR},
      </if>
      <if test="parentOrgId != null" >
        #{parentOrgId,jdbcType=VARCHAR},
      </if>
      <if test="orgType != null" >
        #{orgType,jdbcType=VARCHAR},
      </if>
      <if test="orgAddr != null" >
        #{orgAddr,jdbcType=VARCHAR},
      </if>
      <if test="orgWebsite != null" >
        #{orgWebsite,jdbcType=VARCHAR},
      </if>
      <if test="orgLogo != null" >
        #{orgLogo,jdbcType=VARCHAR},
      </if>
      <if test="isUsable != null" >
        #{isUsable,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="balance != null" >
        #{balance,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.tw.saas.serv.entity.org.Org" >
    update t_saas_org
    <set >
      <if test="orgCode != null" >
        org_code = #{orgCode,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null" >
        org_name = #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="orgStatus != null" >
        org_status = #{orgStatus,jdbcType=VARCHAR},
      </if>
      <if test="orgLevel != null" >
        org_level = #{orgLevel,jdbcType=INTEGER},
      </if>
      <if test="unifiedCode != null" >
        unified_code = #{unifiedCode,jdbcType=VARCHAR},
      </if>
      <if test="parentOrgId != null" >
        parent_org_id = #{parentOrgId,jdbcType=VARCHAR},
      </if>
      <if test="orgType != null" >
        org_type = #{orgType,jdbcType=VARCHAR},
      </if>
      <if test="orgAddr != null" >
        org_addr = #{orgAddr,jdbcType=VARCHAR},
      </if>
      <if test="orgWebsite != null" >
        org_website = #{orgWebsite,jdbcType=VARCHAR},
      </if>
      <if test="orgLogo != null" >
        org_logo = #{orgLogo,jdbcType=VARCHAR},
      </if>
      <if test="isUsable != null" >
        is_usable = #{isUsable,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="balance != null" >
        balance = #{balance,jdbcType=DECIMAL},
      </if>
    </set>
    where org_id = #{orgId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.tw.saas.serv.entity.org.Org" >
    update t_saas_org
    set org_code = #{orgCode,jdbcType=VARCHAR},
      org_name = #{orgName,jdbcType=VARCHAR},
      org_status = #{orgStatus,jdbcType=VARCHAR},
      org_level = #{orgLevel,jdbcType=INTEGER},
      unified_code = #{unifiedCode,jdbcType=VARCHAR},
      parent_org_id = #{parentOrgId,jdbcType=VARCHAR},
      org_type = #{orgType,jdbcType=VARCHAR},
      org_addr = #{orgAddr,jdbcType=VARCHAR},
      org_website = #{orgWebsite,jdbcType=VARCHAR},
      org_logo = #{orgLogo,jdbcType=VARCHAR},
      is_usable = #{isUsable,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      balance = #{balance,jdbcType=DECIMAL}
    where org_id = #{orgId,jdbcType=VARCHAR}
  </update>
</mapper>