<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.tw.saas.serv.mapper.org.OrgSmsConfigMapper">
  <resultMap id="BaseResultMap" type="cn.com.tw.saas.serv.entity.org.OrgSmsConfig">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="org_id" jdbcType="VARCHAR" property="orgId" />
    <result column="template_no" jdbcType="VARCHAR" property="templateNo" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="config_json" jdbcType="VARCHAR" property="configJson" />
    <result column="status" jdbcType="TINYINT" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    id, org_id, template_no, remark, config_json, status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_saas_org_sms_config
    where id = #{id,jdbcType=VARCHAR}
  </select>
  
  <select id="selectByEntity" parameterType="cn.com.tw.saas.serv.entity.org.OrgSmsConfig" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_saas_org_sms_config
    where 1=1
      <if test="orgId != null">
      	and org_id = #{orgId,jdbcType=VARCHAR}
      </if>
      <if test="templateNo != null">
       	and template_no = #{templateNo,jdbcType=VARCHAR}
      </if>
      <if test="remark != null">
        and remark = #{remark,jdbcType=VARCHAR}
      </if>
      <if test="configJson != null">
        and config_json = #{configJson,jdbcType=VARCHAR}
      </if>
      <if test="status != null">
        and status = #{status,jdbcType=TINYINT}
      </if>
  </select>
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_saas_org_sms_config
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.com.tw.saas.serv.entity.org.OrgSmsConfig">
    insert into t_saas_org_sms_config (id, org_id, template_no, 
      remark, config_json, status
      )
    values (#{id,jdbcType=VARCHAR}, #{orgId,jdbcType=VARCHAR}, #{templateNo,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{configJson,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.com.tw.saas.serv.entity.org.OrgSmsConfig">
    insert into t_saas_org_sms_config
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="orgId != null">
        org_id,
      </if>
      <if test="templateNo != null">
        template_no,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="configJson != null">
        config_json,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="orgId != null">
        #{orgId,jdbcType=VARCHAR},
      </if>
      <if test="templateNo != null">
        #{templateNo,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="configJson != null">
        #{configJson,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.tw.saas.serv.entity.org.OrgSmsConfig">
    update t_saas_org_sms_config
    <set>
      <if test="orgId != null">
        org_id = #{orgId,jdbcType=VARCHAR},
      </if>
      <if test="templateNo != null">
        template_no = #{templateNo,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="configJson != null">
        config_json = #{configJson,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.tw.saas.serv.entity.org.OrgSmsConfig">
    update t_saas_org_sms_config
    set org_id = #{orgId,jdbcType=VARCHAR},
      template_no = #{templateNo,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      config_json = #{configJson,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>