<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.tw.saas.serv.mapper.cust.SubAccountMapper" >
    <resultMap id="BaseResultMap" type="cn.com.tw.saas.serv.entity.db.cust.SubAccount" >
        <id column="sub_account_id" property="subAccountId" jdbcType="VARCHAR" />
        <result column="org_id" property="orgId" jdbcType="VARCHAR" />
        <result column="room_id" property="roomId" jdbcType="VARCHAR" />
        <result column="room_account_id" property="roomAccountId" jdbcType="VARCHAR" />
        <result column="balance" property="balance" jdbcType="DECIMAL" />
        <result column="sub_account_type" property="subAccountType" jdbcType="TINYINT" />
        <result column="sub_account_status" property="subAccountStatus" jdbcType="TINYINT" />
        <result column="energy_type" property="energyType" jdbcType="VARCHAR" />
        <result column="meter_addr" property="meterAddr" jdbcType="VARCHAR" />
        <result column="is_cost_control" property="isCostControl" jdbcType="TINYINT" />
        <result column="price_mode_code" property="priceModeCode" jdbcType="VARCHAR" />
        <result column="price_id" property="priceId" jdbcType="VARCHAR" />
        <result column="price_status" property="priceStatus" jdbcType="TINYINT" />
        <result column="alarm_id" property="alarmId" jdbcType="VARCHAR" />
        <result column="alarm_status" property="alarmStatus" jdbcType="TINYINT" />
        <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
        <result column="start_read" property="startRead" jdbcType="DECIMAL" />
        <result column="balance_update_time" property="balanceUpdateTime" jdbcType="TIMESTAMP" />
        <result column="balance_update_read" property="balanceUpdateRead" jdbcType="DECIMAL" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        
        <result column="customer_mobile1" property="customerMobile1" jdbcType="VARCHAR" />
        <result column="customer_no" property="customerNo" jdbcType="VARCHAR" />
        <result column="customer_realname" property="customerRealname" jdbcType="VARCHAR" />
        <result column="room_full_name" property="roomFullName" jdbcType="VARCHAR" />
        <result column="room_number" property="roomNumber" jdbcType="VARCHAR" />
        <result column="read_value" property="readValue" jdbcType="VARCHAR" />
        <result column="cra_balance" property="craBalance" jdbcType="DECIMAL" />
        <result column="rule_name" property="ruleName" jdbcType="VARCHAR" />
        <result column="price_name" property="priceName" jdbcType="VARCHAR" />
        <result column="room_use" property="roomUse" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        sub_account_id, org_id, room_id, room_account_id, balance, sub_account_type, sub_account_status, 
        energy_type, meter_addr, is_cost_control, price_mode_code, price_id, price_status, 
        alarm_id, alarm_status, start_time, start_read, balance_update_time, balance_update_read, 
        create_time, update_time,room_use
    </sql>
    
    <!-- 更新余额专用 -->
	<update id="updateForBalance" parameterType="cn.com.tw.saas.serv.entity.db.cust.SubAccount" >
        update t_saas_cust_sub_account
        <set >
            balance = balance + #{balance,jdbcType=DECIMAL},
            <if test="subAccountStatus != null" >
                sub_account_status = #{subAccountStatus,jdbcType=TINYINT},
            </if>
            <if test="balanceUpdateTime != null" >
                balance_update_time = #{balanceUpdateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="balanceUpdateRead != null" >
                balance_update_read = #{balanceUpdateRead,jdbcType=DECIMAL},
            </if>
                update_time = now(),
        </set>
        where sub_account_id = #{subAccountId,jdbcType=VARCHAR}
    </update>
        
    <select id="selectByEntity" resultMap="BaseResultMap" parameterType="cn.com.tw.saas.serv.entity.db.cust.SubAccount" >
        select 
        <include refid="Base_Column_List" />
        from t_saas_cust_sub_account
       <where>
       		<if test="orgId != null" >
                and org_id = #{orgId,jdbcType=VARCHAR}
            </if>
            <if test="roomId != null" >
                and room_id = #{roomId,jdbcType=VARCHAR}
            </if>
            <if test="roomUse != null" >
                and room_use = #{roomUse,jdbcType=VARCHAR}
            </if>
            <if test="roomAccountId != null" >
                and room_account_id = #{roomAccountId,jdbcType=VARCHAR}
            </if>
            <if test="subAccountType != null" >
                and sub_account_type = #{subAccountType,jdbcType=TINYINT}
            </if>
            <if test="subAccountStatus != null" >
                and sub_account_status = #{subAccountStatus,jdbcType=TINYINT}
            </if>
            <if test="energyType != null" >
                and energy_type = #{energyType,jdbcType=VARCHAR}
            </if>
            <if test="meterAddr != null" >
                and meter_addr = #{meterAddr,jdbcType=VARCHAR}
            </if>
            <if test="isCostControl != null" >
                and is_cost_control = #{isCostControl,jdbcType=TINYINT}
            </if>
            <if test="priceModeCode != null" >
                and price_mode_code = #{priceModeCode,jdbcType=VARCHAR}
            </if>
            <if test="priceId != null" >
                and price_id = #{priceId,jdbcType=VARCHAR}
            </if>
            <if test="priceStatus != null" >
                and price_status = #{priceStatus,jdbcType=TINYINT}
            </if>
            <if test="alarmId != null" >
                and alarm_id = #{alarmId,jdbcType=VARCHAR}
            </if>
            <if test="alarmStatus != null" >
                and alarm_status = #{alarmStatus,jdbcType=TINYINT}
            </if>
       </where>
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select 
        <include refid="Base_Column_List" />
        from t_saas_cust_sub_account
        where sub_account_id = #{subAccountId,jdbcType=VARCHAR}
    </select>
    
    <!-- 账户余额使用  有用的 -->
    <select id="selectByPage" resultMap="BaseResultMap" parameterType="cn.com.tw.common.web.entity.page.Page" >
		SELECT
			m.meter_addr,
			m.energy_type,
			m.org_id,
			m.create_time,
			m.balance,
			m.balance_update_time,
			r.balance AS cra_balance,
			r.room_number,
			r.region_full_name,
			CONCAT(
				r.region_full_name,
				'-',
				r.room_number
			) AS room_full_name,
			cust.customer_mobile1,
			cust.customer_no,
			cust.customer_realname,
			rlm.read_value
		FROM
			t_saas_meter m
		LEFT JOIN t_saas_room r ON r.room_id = m.room_id
		LEFT JOIN (
			SELECT
				GROUP_CONCAT(c.customer_mobile1) AS customer_mobile1,
				GROUP_CONCAT(c.customer_no) AS customer_no,
				GROUP_CONCAT(c.customer_realname) AS customer_realname,
				cr.room_id,
				cr.`status`
			FROM
				t_saas_customer c
			LEFT JOIN t_saas_customer_room cr ON cr.customer_id = c.customer_id
			GROUP BY
				cr.room_id,cr.`status`
		) cust ON cust.room_id = m.room_id
		LEFT JOIN (
			SELECT
				l.read_value,
				l.meter_addr
			FROM
				t_read_last l
			WHERE
				l.item_code = 'isOff'
			AND l.meter_addr IN (
				SELECT
					meter_addr
				FROM
					t_saas_room
			)
			GROUP BY
				l.meter_addr
		) rlm ON rlm.meter_addr = m.meter_addr 
        <where>
        	1=1 and m.sub_account_status = 1 AND cust.`status` = 1 and m.org_id = #{paramObj.orgId,jdbcType=VARCHAR}
			<if test="paramObj.roomNumber != null and paramObj.roomNumber != ''">
				and r.room_number like CONCAT('%', #{paramObj.roomNumber,jdbcType=VARCHAR},'%')
			</if>
			<if test="paramObj.customerRealname != null and paramObj.customerRealname != ''">
				and cust.customer_realname like CONCAT('%', #{paramObj.customerRealname,jdbcType=VARCHAR},'%')
			</if>
		</where>
		ORDER BY m.create_time DESC
	</select>
	
	
	<select id="selectCustomerByPage" resultType="cn.com.tw.saas.serv.entity.room.Room" parameterType="cn.com.tw.common.web.entity.page.Page" >
		SELECT
			r.region_full_name as regionFullName,
			r.region_no as regionNo,
			r.region_id as regionId,
			r.room_id as roomId,
			r.room_name as roomName,
			r.room_number as roomNumber,
			r.room_use as roomUse,
			r.account_status as accountStatus,
			r.account_id as accountId,
			e.meter_addr AS eMeterAddr,
			e.alarm_id AS eAlarmId,
			e.rule_name AS eRuleName,
			e.price_id AS ePriceId,
			e.price_name AS ePriceName,
			e.price_mode_code AS ePriceModeCode,
			w.meter_addr AS wMeterAddr,
			w.alarm_id AS wAlarmId,
			w.rule_name AS wRuleName,
			w.price_id AS wPriceId,
			w.price_name AS wPriceName,
			w.price_mode_code AS wPriceModeCode,
		    t.customer_mobile1 as customerMobile1,
		    t.customer_realname as customerRealname
		FROM
			t_saas_room r
		LEFT JOIN (
			SELECT
				m.room_id,
				m.meter_addr,
				m.alarm_id,
				m.price_id,
				m.price_mode_code,
				a.rule_name,
				p.price_name
			FROM
				t_saas_meter m
			LEFT JOIN t_saas_rule_alarm a ON a.alarm_id = m.alarm_id
			LEFT JOIN t_saas_rule_energy_price p ON p.price_id = m.price_id
			WHERE
				m.energy_type = '110000'
			AND m.org_id = #{paramObj.orgId,jdbcType=VARCHAR}
		) e ON r.room_id = e.room_id
		LEFT JOIN (
			SELECT
				m.room_id,
				m.meter_addr,
				m.alarm_id,
				m.price_id,
				m.price_mode_code,
				a.rule_name,
				p.price_name
			FROM
				t_saas_meter m
			LEFT JOIN t_saas_rule_alarm a ON a.alarm_id = m.alarm_id
			LEFT JOIN t_saas_rule_energy_price p ON p.price_id = m.price_id
			WHERE
				m.energy_type = '120000'
			AND m.org_id = #{paramObj.orgId,jdbcType=VARCHAR}
		) w ON r.room_id = w.room_id
		LEFT JOIN (
			SELECT
				r.room_id,
				c.customer_id,
				c.customer_mobile1,
				c.customer_realname
			FROM
				t_saas_customer_room r
			LEFT JOIN t_saas_customer c ON c.customer_id = r.customer_id
			WHERE
				r.org_id = #{paramObj.orgId,jdbcType=VARCHAR}
			AND (
				r.`status` = '1'
				OR r.`status` = '0'
			)
		) t ON t.room_id = r.room_id
		<where>
        	r.org_id = #{paramObj.orgId,jdbcType=VARCHAR} AND r.account_status != '3'
			<if test="paramObj.roomNumber != null and paramObj.roomNumber != ''">
				and r.room_number like CONCAT('%', #{paramObj.roomNumber,jdbcType=VARCHAR},'%')
			</if>
			<if test="paramObj.customerRealname != null and paramObj.customerRealname != ''">
				and t.customer_realname like CONCAT('%', #{paramObj.customerRealname,jdbcType=VARCHAR},'%')
			</if>
		</where>
		ORDER BY r.region_number ASC	
	</select>
	
	
	<!-- <select id="selectCustomerByPage" resultMap="BaseResultMap" parameterType="cn.com.tw.common.web.entity.page.Page" >
		SELECT
			sa.energy_type,
			sa.meter_addr,
			sa.price_mode_code,
			r.room_use,
			cust.customer_mobile1,
			cust.customer_realname,
			CONCAT(
				r.region_full_name,
				"-",
				r.room_number
			) AS room_full_name,
			a.alarm1_type,
			a.alarm2_type,
			a.alarm1_value,
			a.alarm2_value,
			a.rule_name,
			p.price_name,
			p.price1
		FROM
			t_saas_meter sa
		LEFT JOIN (
			SELECT
				c.customer_id,
				GROUP_CONCAT(c.customer_realname) AS customer_realname,
				GROUP_CONCAT(c.customer_mobile1) AS customer_mobile1,
				cr.room_id,
				cr.`status`
			FROM
				t_saas_customer c
			LEFT JOIN t_saas_customer_room cr ON cr.customer_id = c.customer_id
			WHERE c.org_id = #{paramObj.orgId,jdbcType=VARCHAR}
			GROUP BY
				cr.room_id,cr.`status`
		) cust ON cust.room_id = sa.room_id
		LEFT JOIN t_saas_rule_alarm a ON a.alarm_id = sa.alarm_id
		LEFT JOIN t_saas_rule_energy_price p ON p.price_id = sa.price_id
		LEFT JOIN (SELECT * FROM t_saas_room WHERE org_id = #{paramObj.orgId,jdbcType=VARCHAR}) r ON sa.room_id = r.room_id 
        <where>
        	sa.room_id is NOT NULL AND sa.room_id != '' AND cust.`status` = 1 and sa.org_id = #{paramObj.orgId,jdbcType=VARCHAR}
			<if test="paramObj.roomNumber != null and paramObj.roomNumber != ''">
				and r.room_number like CONCAT('%', #{paramObj.roomNumber,jdbcType=VARCHAR},'%')
			</if>
			<if test="paramObj.customerRealname != null and paramObj.customerRealname != ''">
				and cust.customer_realname like CONCAT('%', #{paramObj.customerRealname,jdbcType=VARCHAR},'%')
			</if>
		</where>
		ORDER BY sa.create_time DESC
	</select> -->
    
    

    <insert id="insert" parameterType="cn.com.tw.saas.serv.entity.db.cust.SubAccount" >
        insert into t_saas_cust_sub_account (sub_account_id, org_id, room_id, 
            room_account_id, balance, sub_account_type, 
            sub_account_status, energy_type, meter_addr, 
            is_cost_control, price_mode_code, price_id, 
            price_status, alarm_id, alarm_status, 
            start_time, start_read, balance_update_time, 
            balance_update_read, create_time, update_time
            )
        values (uuid_short(), #{orgId,jdbcType=VARCHAR}, #{roomId,jdbcType=VARCHAR}, 
            #{roomAccountId,jdbcType=VARCHAR}, #{balance,jdbcType=DECIMAL}, #{subAccountType,jdbcType=TINYINT}, 
            #{subAccountStatus,jdbcType=TINYINT}, #{energyType,jdbcType=VARCHAR}, #{meterAddr,jdbcType=VARCHAR}, 
            #{isCostControl,jdbcType=TINYINT}, #{priceModeCode,jdbcType=VARCHAR}, #{priceId,jdbcType=VARCHAR}, 
            #{priceStatus,jdbcType=TINYINT}, #{alarmId,jdbcType=VARCHAR}, #{alarmStatus,jdbcType=TINYINT}, 
            #{startTime,jdbcType=TIMESTAMP}, #{startRead,jdbcType=DECIMAL}, #{balanceUpdateTime,jdbcType=TIMESTAMP}, 
            #{balanceUpdateRead,jdbcType=DECIMAL}, now(), now()
            )
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="cn.com.tw.saas.serv.entity.db.cust.SubAccount" >
        update t_saas_cust_sub_account
        <set >
            <if test="orgId != null" >
                org_id = #{orgId,jdbcType=VARCHAR},
            </if>
            <if test="roomId != null" >
                room_id = #{roomId,jdbcType=VARCHAR},
            </if>
            <if test="roomAccountId != null" >
                room_account_id = #{roomAccountId,jdbcType=VARCHAR},
            </if>
            <if test="balance != null" >
                balance = #{balance,jdbcType=DECIMAL},
            </if>
            <if test="subAccountType != null" >
                sub_account_type = #{subAccountType,jdbcType=TINYINT},
            </if>
            <if test="subAccountStatus != null" >
                sub_account_status = #{subAccountStatus,jdbcType=TINYINT},
            </if>
            <if test="energyType != null" >
                energy_type = #{energyType,jdbcType=VARCHAR},
            </if>
            <if test="meterAddr != null" >
                meter_addr = #{meterAddr,jdbcType=VARCHAR},
            </if>
            <if test="isCostControl != null" >
                is_cost_control = #{isCostControl,jdbcType=TINYINT},
            </if>
            <if test="priceModeCode != null" >
                price_mode_code = #{priceModeCode,jdbcType=VARCHAR},
            </if>
            <if test="priceId != null" >
                price_id = #{priceId,jdbcType=VARCHAR},
            </if>
            <if test="priceStatus != null" >
                price_status = #{priceStatus,jdbcType=TINYINT},
            </if>
            <if test="alarmId != null" >
                alarm_id = #{alarmId,jdbcType=VARCHAR},
            </if>
            <if test="alarmStatus != null" >
                alarm_status = #{alarmStatus,jdbcType=TINYINT},
            </if>
            <if test="startTime != null" >
                start_time = #{startTime,jdbcType=TIMESTAMP},
            </if>
            <if test="startRead != null" >
                start_read = #{startRead,jdbcType=DECIMAL},
            </if>
            <if test="balanceUpdateTime != null" >
                balance_update_time = #{balanceUpdateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="balanceUpdateRead != null" >
                balance_update_read = #{balanceUpdateRead,jdbcType=DECIMAL},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null" >
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where sub_account_id = #{subAccountId,jdbcType=VARCHAR}
    </update>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
        delete from t_saas_cust_sub_account
        where sub_account_id = #{subAccountId,jdbcType=VARCHAR}
    </delete>

</mapper>