<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.tw.saas.serv.mapper.cust.ThirdOrderMapper" >
    <resultMap id="BaseResultMap" type="cn.com.tw.saas.serv.entity.db.cust.ThirdOrder" >
        <id column="order_id" property="orderId" jdbcType="VARCHAR" />
        <result column="org_id" property="orgId" jdbcType="VARCHAR" />
        <result column="third_type" property="thirdType" jdbcType="VARCHAR" />
        <result column="app_id" property="appId" jdbcType="VARCHAR" />
        <result column="mch_id" property="mchId" jdbcType="VARCHAR" />
        <result column="device_info" property="deviceInfo" jdbcType="VARCHAR" />
        <result column="order_body" property="orderBody" jdbcType="VARCHAR" />
        <result column="detail" property="detail" jdbcType="VARCHAR" />
        <result column="attach" property="attach" jdbcType="VARCHAR" />
        <result column="out_trade_no" property="outTradeNo" jdbcType="VARCHAR" />
        <result column="money" property="money" jdbcType="DECIMAL" />
        <result column="spbill_create_ip" property="spbillCreateIp" jdbcType="VARCHAR" />
        <result column="time_start" property="timeStart" jdbcType="VARCHAR" />
        <result column="time_expire" property="timeExpire" jdbcType="VARCHAR" />
        <result column="trade_type" property="tradeType" jdbcType="VARCHAR" />
        <result column="product_id" property="productId" jdbcType="VARCHAR" />
        <result column="open_id" property="openId" jdbcType="VARCHAR" />
        <result column="prepay_id" property="prepayId" jdbcType="VARCHAR" />
        <result column="err_code" property="errCode" jdbcType="VARCHAR" />
        <result column="err_code_des" property="errCodeDes" jdbcType="VARCHAR" />
        <result column="customer_id" property="customerId" jdbcType="VARCHAR" />
        <result column="customer_mobile" property="customerMobile" jdbcType="VARCHAR" />
        <result column="room_id" property="roomId" jdbcType="VARCHAR" />
        <result column="meter_number" property="meterNumber" jdbcType="INTEGER" />
        <result column="meter_addr" property="meterAddr" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="TINYINT" />
        <result column="transaction_id" property="transactionId" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="Base_Column_List" >
        order_id, org_id, third_type, app_id, mch_id, device_info, order_body, detail, attach, 
        out_trade_no, money, spbill_create_ip, time_start, time_expire, trade_type, product_id, 
        open_id, prepay_id, err_code, err_code_des, customer_id, customer_mobile, room_id, 
        meter_number, meter_addr, status, transaction_id, create_time, update_time
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select 
        <include refid="Base_Column_List" />
        from t_saas_cust_third_order
        where order_id = #{orderId,jdbcType=VARCHAR}
    </select>

    <insert id="insert" parameterType="cn.com.tw.saas.serv.entity.db.cust.ThirdOrder" >
        insert into t_saas_cust_third_order (order_id, org_id, third_type, 
            app_id, mch_id, device_info, 
            order_body, detail, attach, 
            out_trade_no, money, spbill_create_ip, 
            time_start, time_expire, trade_type, 
            product_id, open_id, prepay_id, 
            err_code, err_code_des, customer_id, 
            customer_mobile, room_id, meter_number, 
            meter_addr, status, transaction_id, 
            create_time, update_time)
        values (#{orderId,jdbcType=VARCHAR}, #{orgId,jdbcType=VARCHAR}, #{thirdType,jdbcType=VARCHAR}, 
            #{appId,jdbcType=VARCHAR}, #{mchId,jdbcType=VARCHAR}, #{deviceInfo,jdbcType=VARCHAR}, 
            #{orderBody,jdbcType=VARCHAR}, #{detail,jdbcType=VARCHAR}, #{attach,jdbcType=VARCHAR}, 
            #{outTradeNo,jdbcType=VARCHAR}, #{money,jdbcType=DECIMAL}, #{spbillCreateIp,jdbcType=VARCHAR}, 
            #{timeStart,jdbcType=VARCHAR}, #{timeExpire,jdbcType=VARCHAR}, #{tradeType,jdbcType=VARCHAR}, 
            #{productId,jdbcType=VARCHAR}, #{openId,jdbcType=VARCHAR}, #{prepayId,jdbcType=VARCHAR}, 
            #{errCode,jdbcType=VARCHAR}, #{errCodeDes,jdbcType=VARCHAR}, #{customerId,jdbcType=VARCHAR}, 
            #{customerMobile,jdbcType=VARCHAR}, #{roomId,jdbcType=VARCHAR}, #{meterNumber,jdbcType=INTEGER}, 
            #{meterAddr,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, #{transactionId,jdbcType=VARCHAR}, 
            now(), now())
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="cn.com.tw.saas.serv.entity.db.cust.ThirdOrder" >
        update t_saas_cust_third_order
        <set >
            <if test="orgId != null" >
                org_id = #{orgId,jdbcType=VARCHAR},
            </if>
            <if test="thirdType != null" >
                third_type = #{thirdType,jdbcType=VARCHAR},
            </if>
            <if test="appId != null" >
                app_id = #{appId,jdbcType=VARCHAR},
            </if>
            <if test="mchId != null" >
                mch_id = #{mchId,jdbcType=VARCHAR},
            </if>
            <if test="deviceInfo != null" >
                device_info = #{deviceInfo,jdbcType=VARCHAR},
            </if>
            <if test="orderBody != null" >
                order_body = #{orderBody,jdbcType=VARCHAR},
            </if>
            <if test="detail != null" >
                detail = #{detail,jdbcType=VARCHAR},
            </if>
            <if test="attach != null" >
                attach = #{attach,jdbcType=VARCHAR},
            </if>
            <if test="outTradeNo != null" >
                out_trade_no = #{outTradeNo,jdbcType=VARCHAR},
            </if>
            <if test="money != null" >
                money = #{money,jdbcType=DECIMAL},
            </if>
            <if test="spbillCreateIp != null" >
                spbill_create_ip = #{spbillCreateIp,jdbcType=VARCHAR},
            </if>
            <if test="timeStart != null" >
                time_start = #{timeStart,jdbcType=VARCHAR},
            </if>
            <if test="timeExpire != null" >
                time_expire = #{timeExpire,jdbcType=VARCHAR},
            </if>
            <if test="tradeType != null" >
                trade_type = #{tradeType,jdbcType=VARCHAR},
            </if>
            <if test="productId != null" >
                product_id = #{productId,jdbcType=VARCHAR},
            </if>
            <if test="openId != null" >
                open_id = #{openId,jdbcType=VARCHAR},
            </if>
            <if test="prepayId != null" >
                prepay_id = #{prepayId,jdbcType=VARCHAR},
            </if>
            <if test="errCode != null" >
                err_code = #{errCode,jdbcType=VARCHAR},
            </if>
            <if test="errCodeDes != null" >
                err_code_des = #{errCodeDes,jdbcType=VARCHAR},
            </if>
            <if test="customerId != null" >
                customer_id = #{customerId,jdbcType=VARCHAR},
            </if>
            <if test="customerMobile != null" >
                customer_mobile = #{customerMobile,jdbcType=VARCHAR},
            </if>
            <if test="roomId != null" >
                room_id = #{roomId,jdbcType=VARCHAR},
            </if>
            <if test="meterNumber != null" >
                meter_number = #{meterNumber,jdbcType=INTEGER},
            </if>
            <if test="meterAddr != null" >
                meter_addr = #{meterAddr,jdbcType=VARCHAR},
            </if>
            <if test="status != null" >
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="transactionId != null" >
                transaction_id = #{transactionId,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            update_time =now(),
        </set>
        where order_id = #{orderId,jdbcType=VARCHAR}
    </update>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
        delete from t_saas_cust_third_order
        where order_id = #{orderId,jdbcType=VARCHAR}
    </delete>

</mapper>